<a href="https://colab.research.google.com/github/thanadolch/KKU_data_mining/blob/master/data101.1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas

In [2]:
pd.read_csv(file_path)

NameError: ignored

Error เพราะ ไม่ได้เปลี่ยนชื่อจาก pandas มาเป็น pd จึงทำให้ไม่สามารถใช้ package pandas ได้

In [3]:
import pandas

In [4]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('content/drive')

ValueError: ignored

Error เพราะ ('content/drive') หน้าคำว่า content ไม่มี / ต้องแก้เป็น '/content/drive'

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [5]:
import os

In [6]:
path = '/content/drive/My Drive/DWDM_matrerail'

In [7]:
os.listdir(path)

FileNotFoundError: ignored

Error เพราะ  ชื่อตัวโฟลล์เดอร์ผิด พิมพ์คำว่า  matrerail ผิดต้องแก้เป็น matrerial

In [8]:
path = '/content/drive/My Drive/DWDM_matrerial'

In [9]:
os.listdir(path)

['test.csv']

In [10]:
file_path = os.path.join(path,'test.csv')
print(file_path)

/content/drive/My Drive/DWDM_matrerial/test.csv

In [13]:
pd.read_csv(file_paht)

NameError: ignored

Error เพราะ ชื่อตัวแปรผิด พิมพ์คำว่า  paht ผิดต้องแก้เป็น path

In [16]:
pd.read_csv(file_path)

     Unnamed: 0        x        y
0             0  55.3846  97.1795
1             1  51.5385  96.0256
2             2  46.1538  94.4872
3             3  42.8205  91.4103
4             4  40.7692  88.3333
..          ...      ...      ...
137         137  39.4872  25.3846
138         138  91.2821  41.5385
139         139  50.0000  95.7692
140         140  47.9487  95.0000
141         141  44.1026  92.6923

[142 rows x 3 columns]

In [17]:
table1 = pd.read_csv(file_path)

In [18]:
table

NameError: ignored

Error เพราะ ไม่พบชื่อตัวแปรนี้เนื่องจากพิมพ์ชื่อตัวแปรไม่ครบ ชื่อตัวแปรคือ table1

In [19]:
table1

     Unnamed: 0        x        y
0             0  55.3846  97.1795
1             1  51.5385  96.0256
2             2  46.1538  94.4872
3             3  42.8205  91.4103
4             4  40.7692  88.3333
..          ...      ...      ...
137         137  39.4872  25.3846
138         138  91.2821  41.5385
139         139  50.0000  95.7692
140         140  47.9487  95.0000
141         141  44.1026  92.6923

[142 rows x 3 columns]