<a href="https://colab.research.google.com/github/thanadolch/KKU_data_mining/blob/master/pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/DWDM_matrerial'

In [ ]:
import os

In [ ]:
search_click = os.path.join(path,'search_click.csv')
w_restaurant = os.path.join(path,'w_restaurant.csv')

อ่านไฟล์ search_click.csv แล้วแสดงค่า 5 ตัวแรกในตาราง

In [ ]:
search_click_df = pd.read_csv(search_click)
search_click_df.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

ดูจำนวนข้อมูล

In [ ]:
search_click_df.shape

(1048575, 6)

อ่านไฟล์ w_restaurant.csv แล้วแสดงค่า 5 ตัวแรกในตาราง

In [ ]:
w_restaurant_df = pd.read_csv(w_restaurant)
w_restaurant_df.head()

   id              name  domain_id  ...  hotel_restaurant pet_friendly delivery
0   2  นครินทร์ทันตกรรม          2  ...               NaN          NaN      NaN
1   4      Corner House          1  ...               NaN          NaN      NaN
2   5    วัดโลกยสุธาราม          4  ...               NaN          NaN      NaN
3   6    นันท์คาราโอเกะ          1  ...               NaN          NaN      NaN
4   7       Buono Caffe          1  ...               NaN          NaN      NaN

[5 rows x 32 columns]

ดูจำนวนข้อมูล

In [ ]:
w_restaurant_df.shape

(246847, 32)

##0. point to data in the table

ดูค่า คอลัมน์ search id ในตาราง *search_click*

In [ ]:
search_click_df['search_id']

0          5c004472-5ecc-4159-9698-9f329b8e26e1
1          5f34eca0-c04e-4c10-b600-54aa447dbd8e
2          8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3          1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4          6bc75e0d-fc65-471e-9926-ff6be6708639
                           ...
1048570    99aab616-6fc5-4fbf-994b-4aebee7bb360
1048571    d70a2c5d-ee94-4e4c-9f7c-c5faac6db12a
1048572    4c1de7fe-300e-41aa-9d01-914344fc3753
1048573    2ec0ddec-e450-4b98-9779-42b77aa7eda5
1048574    5741d9cf-b9f1-441d-aa83-d2b0179bf874
Name: search_id, Length: 1048575, dtype: object

ดูค่า คอลัมน์ search id ในตาราง *search_click* ตำแหน่งที่ 0

In [ ]:
search_click_df['search_id'][0]

'5c004472-5ecc-4159-9698-9f329b8e26e1'

## iloc

เลือกคอลัมน์ที่ต้องการในตาราง W_reataurant

In [ ]:
w_restaurant_df[['name','city_name','weighted_average_rating']]

                                        name  ... weighted_average_rating
0                           นครินทร์ทันตกรรม  ...                5.000000
1                               Corner House  ...                2.000000
2                             วัดโลกยสุธาราม  ...                4.000000
3                             นันท์คาราโอเกะ  ...                0.000000
4                                Buono Caffe  ...                3.738462
...                                      ...  ...                     ...
246842                            Sushi Tama  ...                3.663522
246843                     สะบายดี คาราโอเกะ  ...                0.000000
246844                      สเต็กแม่&กาแฟลูก  ...                4.000000
246845                              Mom Made  ...                5.000000
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...                3.000000

[246847 rows x 3 columns]

ดูค่าใน record ที่ 0 ในคอลัมน์ที่ 1

In [ ]:
search_click_df.iloc[0,1]

'5c004472-5ecc-4159-9698-9f329b8e26e1'

ดูค่าใน record ที่ 0 จนถึง 10 ในคอลัมน์ที่ 1-2

In [ ]:
search_click_df.iloc[:10,:2]

  click_timestamp                             search_id
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639
5         48:16.7  92ea02ba-2c89-4efd-973c-e23526c531de
6         39:18.4  79d61918-fb3e-4181-99b6-7a7abddfcdb1
7         33:39.0  7f8b2b57-dea1-4fe1-84c8-5a7d63750e47
8         07:48.3  3d9217bb-3eae-42b5-8cf3-a756efae2cfa
9         41:25.4  a2cb0d41-6e1f-4169-9140-cb671fbb41dc

## Missing Values

เรียกดูว่าค่า missing ในตาราง หากไม่มีจะขึ้นว่า False หากมีจะขึ้นว่า True

In [ ]:
search_click_df.isnull()

         click_timestamp  search_id  ...  time_diff_nanos    ads
0                  False      False  ...            False  False
1                  False      False  ...            False  False
2                  False      False  ...            False  False
3                  False      False  ...            False  False
4                  False      False  ...            False  False
...                  ...        ...  ...              ...    ...
1048570            False      False  ...            False  False
1048571            False      False  ...            False  False
1048572            False      False  ...            False  False
1048573            False      False  ...            False  False
1048574            False      False  ...            False  False

[1048575 rows x 6 columns]

ตรวจดูว่าค่าในคอลัมน์ใดที่มีค่า missing หากไม่มีจะขึ้นว่า False หากมีจะขึ้นว่า True

In [ ]:
search_click_df.isnull().any() #เอาความจริงในแต่ละคอลัมน์มาหรือกัน

click_timestamp     False
search_id            True
business_id          True
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

ตรวจดูว่าค่าในคอลัมน์ใดที่มีค่า missing หากไม่มีจะขึ้นว่า False หากมีจะขึ้นว่า True

In [ ]:
search_click_df.isnull().all()#เอาความจริงในแต่ละคอลัมน์มาและกัน

click_timestamp     False
search_id           False
business_id         False
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

## Handling missing values 1

ลบ record ที่มีค่า mising ออก

In [ ]:
search_click_df_nm = search_click_df.dropna()

ตรวจสอบว่ายังมีค่า missing อยู่หรอไม่

In [ ]:
search_click_df_nm.isnull().any().any()

False

ดูจำนวนข้อมูลของตัวแปรที่ลบค่าmissing และยังไม่ลบค่าmissing

In [ ]:
print(search_click_df.shape)
print(search_click_df_nm.shape)

(1048575, 6)
(1048206, 6)

#HW9.เช็คตาราง w_restaurant

ตรวจสอบค่า missing ในตาราง w_restaurang

In [ ]:
w_restaurant_df_nm = w_restaurant_df.isnull().any()

In [ ]:
w_restaurant_df_nm

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

In [ ]:
w_restaurant_df_nn = w_restaurant_df.dropna()

In [ ]:
print(w_restaurant_df.shape)
print(w_restaurant_df_nn.shape)

(246847, 32)
(4, 32)

In [ ]:
((4*100)/246847)-100

-99.99837956304917

คำนวณ % จำจวนข้อมูลว่าหลังจากลบข้อมูลที่ missing ออกไปแล้วยังเหลือข้อมูลเหลือกี่%

In [ ]:
size_before_drop = w_restaurant_df.shape[0]
size_after_drop = w_restaurant_df.dropna().shape[0]
print(f'size befor drop = {size_before_drop}\nsize after drop = {size_after_drop}\nwhich is {100*((size_before_drop-size_after_drop)/size_before_drop)}')

size befor drop = 246847
size after drop = 4
which is 99.99837956304918

## Handling missing values 1.5

In [ ]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

In [ ]:
R = w_restaurant_df[['id','name','price_range']]
R.shape

(246847, 3)

In [ ]:
w_restaurant_df.dropna(subset=['id','name','price_range']).shape

(180972, 32)

#Method 2 (raplace with reasonable value)

###### We are replacing missing value in the number of chains with 0

In [ ]:
w_restaurant_df[['number_of_chains']] = w_restaurant_df[['number_of_chains']].fillna(0)

In [ ]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains           False
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

In [ ]:
w_restaurant_df[['number_of_chains']].isnull().any()

number_of_chains    False
dtype: bool

##method2.1(replace with unknow value)

## Method 3

In [ ]:
table_new = w_restaurant_df[['name','city_name','avg_price']]
table_new

                                        name  ... avg_price
0                           นครินทร์ทันตกรรม  ...       NaN
1                               Corner House  ...       NaN
2                             วัดโลกยสุธาราม  ...       NaN
3                             นันท์คาราโอเกะ  ...       NaN
4                                Buono Caffe  ...       NaN
...                                      ...  ...       ...
246842                            Sushi Tama  ...       NaN
246843                     สะบายดี คาราโอเกะ  ...       NaN
246844                      สเต็กแม่&กาแฟลูก  ...       NaN
246845                              Mom Made  ...       NaN
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...       NaN

[246847 rows x 3 columns]

In [ ]:
w_restaurant_df[['name','city_name','avg_price']].isnull().any()

name         False
city_name    False
avg_price     True
dtype: bool

In [ ]:
table_new =

SyntaxError: ignored

### [PD] select data

In [ ]:
select_list = table_new['city_name']=='Bangkok Metropolitan Region'
select_list

In [ ]:
bkk_table = table_new[table_new['city_name']=='Bangkok Metropolitan Region']
bkk_table

In [ ]:
select_list1 = table_new['city_name']=='Khon Kaen'
select_list1

In [ ]:
table_new[select_list1]

In [ ]:
table_new[select_list].dropna()

In [ ]:
ap = table_new[table_new['city_name']=='Bangkok Metropolitan Region'].dropna()['avg_price'].mean()
ap

In [ ]:
w_restaurant_df_avg = w_restaurant_df[['avg_price']].fillna(ap)
w_restaurant_df_avg

In [ ]:
w_restaurant_df['avg_price'][247]

In [ ]:
cm = table_new[table_new['city_name']=='Chiang Mai']
cm

In [ ]:
select_list2 = table_new['city_name']=='Chiang Mai'
select_list2

In [ ]:
select_list2.dropna()

In [ ]:
cm.dropna()['avg_price'].mean()

##แก้ Missing Method3 เติมค่าที่เหมาะสมตามกลุ่มของมัน

In [ ]:
bkk_table[['avg_price']] = bkk_table[['avg_price']].fillna(table_new[table_new['city_name']=='Bangkok Metropolitan Region'].dropna()['avg_price'].mean())
bkk_table.head()

## [PD] ต่อตารางในแนวแกน Y (เพิ่มจำนวน data)

In [ ]:
Chiang_Mai = cm.fillna(cm.dropna()['avg_price'].mean())
Chiang_Mai.head()

In [ ]:
bkk = bkk_table.fillna(ap)
bkk

In [ ]:
pd_concat = pd.concat([bkk,Chiang_Mai])
pd_concat

#Method 3 Looping(Concat)

##ดึงจังหวัดที่มีอยู่ในตารางทั้งหมด

เก็บชื่อเมืองทุกเมืองไว้ในตัวแปร all_city

In [ ]:
all_city = set(table_new['city_name'])
len(all_city)

#คำนวณMeanของ Colum 'city name'

ลบค่า missing ในคอลัมน์ avg_price แล้วหาค่าเฉลี่ย

In [ ]:
all_mean = table_new.dropna(subset=['avg_price'])['avg_price'].mean()
all_mean

วนลูปทุกเมือง เพื่อใส่ค่าเฉลี่ยลงไปใน fill ที่ว่างเปล่า แลเวเก็บไว้ในตัวแปร all_cities_list

In [ ]:
all_cities_list = []
for each_city in list(all_city):
    all_place = table_new[table_new['city_name']== each_city]
    all_place[['avg_price']] = all_place[['avg_price']].fillna(table_new[table_new['city_name']== each_city].dropna()['avg_price'].mean())
    all_cities_list.append(all_place)

ต่อตารางทุกตารางในตัวแปร all_cities_list ด้วยคำสั่ง concat

In [ ]:
all_no_missing = pd.concat(all_cities_list)
all_no_missing

#เติมค่า Mean ของทั้งตารางให้กับจังหวัดที่ไม่มี mean

In [ ]:
all_no_missing = all_no_missing.fillna(all_mean)
all_no_missing.isnull().any()

##Remove outlier

### Quiz วาด boxplot ของ ค่า 'avg_price'ของตาราง all_no_missing

In [1]:
from matplotlib import pyplot as plt

In [2]:
ret = plt.boxplot(all_no_missing['avg_price'],vert=False)

NameError: ignored

In [ ]:
ret

In [ ]:
print(ret['whiskers'][0].get_xdata()[1])
print(ret['whiskers'][1].get_xdata()[1])

เก็บค่า outliner ไว้ในตัวแปร nooutliner_nomissing

In [ ]:
nooutlier_nomissing = all_no_missing[all_no_missing['avg_price']>=ret['whiskers'][0].get_xdata()[1]]
nooutlier_nomissing = nooutlier_nomissing[nooutlier_nomissing['avg_price']<=ret['whiskers'][1].get_xdata()[1]]
nooutlier_nomissing

## merge two tables(.merge())

รวมคอลัมน์ ในตารางsearch_click และ w_restaurant ด้วยคอลัมน์ business และ id

In [3]:
merged_table = search_click_df.merge(w_restaurant_df,how='left',left_on='business_id',right_on='id')
merged_table

NameError: ignored

เลือกคอลัมน์ name ในตาราง w_restaurant มารวมกับตาราง search_click

In [4]:
search_click_df['bu_name'] = search_click_df['business_id'].map(w_restaurant_df.set_index('id')['name'])
search_click_df

NameError: ignored

เลือกคอลัมน์ city_name ในตาราง w_restaurant มารวมกับตาราง search_click

In [ ]:
search_click_df['city'] = search_click_df['business_id'].map(w_restaurant_df.set_index('id')['city_name'])
search_click_df

ดูข้อมูลที่มี business_id เป็น 182530

In [ ]:
search_click_df[search_click_df['business_id']==182530]

#groupby()

จัดกลุ่มตาม business_id แล้วนับจำนวน

In [ ]:
search_click_df.groupby('business_id').count()

             click_timestamp  search_id  display_position  ...  ads  bu_name  city
business_id                                                ...
2.0                        4          4                 4  ...    4        4     4
5.0                        2          2                 2  ...    2        2     2
6.0                        6          6                 6  ...    6        6     6
7.0                        3          3                 3  ...    3        3     3
14.0                       5          5                 5  ...    5        5     5
...                      ...        ...               ...  ...  ...      ...   ...
340060.0                   4          4                 4  ...    4        4     4
340063.0                   1          1                 1  ...    1        1     1
340067.0                   2          2                 2  ...    2        2     2
340068.0                   6          6                 6  ...    6        6     6
340070.0                   9          9                 9  ...    9        9     9

[141536 rows x 7 columns]

จัดกลุ่มตาม business_id แล้วนับจำนวน และเรียงลำดับจากน้อยไปหามาก

In [ ]:
search_click_df.groupby('business_id').count().sort_values('click_timestamp')

             click_timestamp  search_id  display_position  ...   ads  bu_name  city
business_id                                                ...
122473.0                   1          1                 1  ...     1        1     1
136485.0                   1          1                 1  ...     1        1     1
275120.0                   1          1                 1  ...     1        1     1
136492.0                   1          1                 1  ...     1        1     1
136498.0                   1          1                 1  ...     1        1     1
...                      ...        ...               ...  ...   ...      ...   ...
150227.0                1377       1377              1377  ...  1377     1377  1377
273486.0                1417       1417              1417  ...  1417     1417  1417
112509.0                2130       2130              2130  ...  2130     2130  2130
142707.0                2811       2811              2811  ...  2811     2811  2811
182530.0                3833       3833              3833  ...  3833     3833  3833

[141536 rows x 7 columns]

## QUIZ หาจังหวัดที่มีคน click เข้าไปมากที่สุดสามอันดับแรก

In [ ]:
search_click_df.groupby('business_id').count().sort_values('click_timestamp')

In [ ]:
lol = search_click_df.groupby('city').count().sort_values('click_timestamp',ascending=False)

In [ ]:
lol

                             click_timestamp  search_id  ...     ads  bu_name
city                                                     ...
Bangkok Metropolitan Region           596980     596963  ...  596980   596980
Chiang Mai                             56775      56775  ...   56775    56775
Chon Buri                              51535      51535  ...   51535    51535
Phuket                                 18560      18560  ...   18560    18560
Rayong                                 17986      17986  ...   17986    17986
...                                      ...        ...  ...     ...      ...
Lima                                       1          1  ...       1        1
Liguria                                    1          1  ...       1        1
Vaduz                                      1          1  ...       1        1
Kepulauan Riau                             1          1  ...       1        1
CALABARZON                                 1          1  ...       1        1

[365 rows x 7 columns]

In [ ]:
lol.iloc[:3,:]

                             click_timestamp  search_id  ...     ads  bu_name
city                                                     ...
Bangkok Metropolitan Region           596980     596963  ...  596980   596980
Chiang Mai                             56775      56775  ...   56775    56775
Chon Buri                              51535      51535  ...   51535    51535

[3 rows x 7 columns]

#เฉลย

แสดง record ที่ 0-3 ของทุกตาราง

In [ ]:
lol.iloc[:3,:]

                             click_timestamp  search_id  ...     ads  bu_name
city                                                     ...
Bangkok Metropolitan Region           596980     596963  ...  596980   596980
Chiang Mai                             56775      56775  ...   56775    56775
Chon Buri                              51535      51535  ...   51535    51535

[3 rows x 7 columns]

##เมืองไหนมีค่าเฉลี่ยของ 'weighted_averge_rating' สูงที่สุด

ดึงคอลัมน์ weighted_average_rating จากตาราง w_restaurant

In [ ]:
search_click_df['Averge_rating'] = search_click_df['business_id'].map(w_restaurant_df.set_index('id')['weighted_average_rating'])
search_click_df

        click_timestamp  ... Averge_rating
0               11:38.9  ...      3.836735
1               30:51.3  ...      3.118367
2               32:09.6  ...      4.015184
3               00:59.8  ...      3.444134
4               23:36.8  ...      2.972672
...                 ...  ...           ...
1048570         05:28.8  ...      4.000000
1048571         15:28.8  ...      4.000000
1048572         11:49.4  ...      3.830601
1048573         10:33.7  ...      3.766129
1048574         13:51.4  ...      3.000000

[1048575 rows x 9 columns]

จัดกลุ่มตาม city และคำนวณค่าเฉลี่ยจากนั้นเรียงลำดับจากมากไปน้อยตามAverge_rating

In [ ]:
search_click_df.groupby('city').mean().sort_values('Averge_rating')

                         business_id  display_position  ...  ads  Averge_rating
city                                                    ...
Région de Kidal        172792.000000          0.000000  ...  0.0            0.0
Centre-Val de Loire    161336.666667          0.333333  ...  0.0            0.0
Washington              95088.000000          0.000000  ...  0.0            0.0
Battambang              86122.000000          0.000000  ...  0.0            0.0
Tasmania               148134.000000          8.500000  ...  0.0            0.0
...                              ...               ...  ...  ...            ...
Wisconsin              107551.000000          0.000000  ...  0.0            5.0
Otago                  280996.666667         13.333333  ...  0.0            5.0
Vladimirskaya oblast'  311200.000000          4.000000  ...  0.0            5.0
Appenzell Innerrhoden  221536.666667          0.666667  ...  0.0            5.0
British Columbia        61693.200000          1.000000  ...  0.0            5.0

[365 rows x 5 columns]

In [ ]:
po = search_click_df.groupby('city').mean().sort_values('Averge_rating')
po

                         business_id  display_position  ...  ads  Averge_rating
city                                                    ...
Région de Kidal        172792.000000          0.000000  ...  0.0            0.0
Centre-Val de Loire    161336.666667          0.333333  ...  0.0            0.0
Washington              95088.000000          0.000000  ...  0.0            0.0
Battambang              86122.000000          0.000000  ...  0.0            0.0
Tasmania               148134.000000          8.500000  ...  0.0            0.0
...                              ...               ...  ...  ...            ...
Wisconsin              107551.000000          0.000000  ...  0.0            5.0
Otago                  280996.666667         13.333333  ...  0.0            5.0
Vladimirskaya oblast'  311200.000000          4.000000  ...  0.0            5.0
Appenzell Innerrhoden  221536.666667          0.666667  ...  0.0            5.0
British Columbia        61693.200000          1.000000  ...  0.0            5.0

[365 rows x 5 columns]

แสดงค่าในคอลัมน์ Averge_rating ที่เท่ากับ 5

In [ ]:
po[po['Averge_rating']==5]

                           business_id  display_position  ...  ads  Averge_rating
city                                                      ...
Kepulauan Riau            46057.000000          0.000000  ...  0.0            5.0
Vaud                     109681.666667          0.000000  ...  0.0            5.0
Graubünden               200412.000000          0.000000  ...  0.0            5.0
Attica                   160094.000000          5.000000  ...  0.0            5.0
Guangxi Zhuangzuzizhiqu  103363.000000          1.250000  ...  0.0            5.0
Bremen                   215425.000000          3.000000  ...  0.0            5.0
Sabah                    184661.000000          0.000000  ...  0.0            5.0
Wisconsin                107551.000000          0.000000  ...  0.0            5.0
Otago                    280996.666667         13.333333  ...  0.0            5.0
Vladimirskaya oblast'    311200.000000          4.000000  ...  0.0            5.0
Appenzell Innerrhoden    221536.666667          0.666667  ...  0.0            5.0
British Columbia          61693.200000          1.000000  ...  0.0            5.0

[12 rows x 5 columns]

##เมืองไหนมีค่าเฉลี่ยของ 'weighted_averge_rating' สูงที่สุด
##แบบน่าเชื่อถือที่สุด

จัดกลุ่มตาม city และคำนวณค่าเฉลี่ยจากนั้นเรียงลำดับจากน้อยไปมากตาม weighted_average_rating

In [ ]:
sorted_star = w_restaurant_df.groupby('city_name').mean().sort_values('weighted_average_rating')
sorted_star

                           id  domain_id  ...  pet_friendly  delivery
city_name                                 ...
South Carolina        52860.5        1.0  ...           NaN       1.0
Bahia                178713.0        1.0  ...           NaN       1.0
Oklahoma             136441.0        1.0  ...           NaN       NaN
Region Zealand       115070.0        1.0  ...           NaN       NaN
Région de Kidal      240208.5        2.0  ...           NaN       NaN
...                       ...        ...  ...           ...       ...
Oaxaca               278395.0        1.0  ...           NaN       NaN
Wisconsin            107551.0        1.0  ...           NaN       NaN
Murmanskaya oblast'   30394.0        1.0  ...           NaN       NaN
Fribourg              73168.0        1.0  ...           NaN       NaN
Khartoum             303589.0        1.0  ...           NaN       NaN

[479 rows x 27 columns]

ดูข้อมูลใน คอลัมน์ number_of_reviews ที่มากกว่า 5

In [ ]:
sorted_star[sorted_star['number_of_reviews']>=5]

                                        id  domain_id  ...  pet_friendly  delivery
city_name                                              ...
Hua Hin                      180926.866138   1.167576  ...      0.144144  0.409091
Bangkok Metropolitan Region  179658.982155   1.117261  ...      0.162970  0.915868
Chiang Mai                   179078.979643   1.168028  ...      0.067387  0.164958
Maldives                     242953.000000   1.000000  ...           NaN       NaN

[4 rows x 27 columns]

#Save to use with other applications

In [ ]:
search_click_df.to_csv('search_click_extracted_time.csv')