<a href="https://colab.research.google.com/github/thanadolch/KKU_data_mining/blob/master/Project_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/DWDM_matrerial'

In [4]:
import os

In [5]:
RM = os.path.join(path,'Recommendation System.csv')

In [6]:
RM_Table = pd.read_csv(RM)

1.ขั้นตอนการเตรียมข้อมูล

In [7]:
RM_Table

          0    50  5  881250949
0         0   172  5  881250949
1         0   133  1  881250949
2       196   242  3  881250949
3       186   302  3  891717742
4        22   377  1  878887116
...     ...   ... ..        ...
99997   880   476  3  880175444
99998   716   204  5  879795543
99999   276  1090  1  874795795
100000   13   225  2  882399156
100001   12   203  3  879959583

[100002 rows x 4 columns]

In [8]:
RM_Table .columns = (['user_id','item_id',"rating","timestamp"])

In [9]:
RM_Table.head()

   user_id  item_id  rating  timestamp
0        0      172       5  881250949
1        0      133       1  881250949
2      196      242       3  881250949
3      186      302       3  891717742
4       22      377       1  878887116

In [10]:
Movie = os.path.join(path,'Movie_Id_Titles')

In [11]:
Movie_Table = pd.read_csv(Movie)
Movie_Table

      item_id                                      title
0           1                           Toy Story (1995)
1           2                           GoldenEye (1995)
2           3                          Four Rooms (1995)
3           4                          Get Shorty (1995)
4           5                             Copycat (1995)
...       ...                                        ...
1677     1678                          Mat' i syn (1997)
1678     1679                           B. Monkey (1998)
1679     1680                       Sliding Doors (1998)
1680     1681                        You So Crazy (1994)
1681     1682  Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]

In [12]:
df = pd.merge(RM_Table,Movie_Table,on='item_id')
df

        user_id  ...                                              title
0             0  ...                    Empire Strikes Back, The (1980)
1           213  ...                    Empire Strikes Back, The (1980)
2            92  ...                    Empire Strikes Back, The (1980)
3            77  ...                    Empire Strikes Back, The (1980)
4           194  ...                    Empire Strikes Back, The (1980)
...         ...  ...                                                ...
99997       840  ...                                  Mamma Roma (1962)
99998       655  ...                             Eighth Day, The (1996)
99999       655  ...                                  Girls Town (1996)
100000      655  ...  Silence of the Palace, The (Saimt el Qusur) (1...
100001      655  ...                                    Dadetown (1995)

[100002 rows x 5 columns]

In [13]:
df.sort_values('item_id').head()

      user_id  item_id  rating  timestamp             title
3937      308        1       4  887736532  Toy Story (1995)
4247      893        1       5  874827725  Toy Story (1995)
4246      336        1       3  877759342  Toy Story (1995)
4245      303        1       5  879466966  Toy Story (1995)
4244      886        1       4  876031433  Toy Story (1995)

In [14]:
df.isnull().any()

user_id      False
item_id      False
rating       False
timestamp    False
title        False
dtype: bool

In [15]:
asso = df.groupby('user_id')['title'].apply(list)
asso

user_id
0      [Empire Strikes Back, The (1980), Gone with th...
1      [Empire Strikes Back, The (1980), Gone with th...
2      [Kolya (1996), L.A. Confidential (1997), Men i...
3      [L.A. Confidential (1997), Jackie Brown (1997)...
4      [Cop Land (1997), Scream (1996), Liar Liar (19...
                             ...
939    [Men in Black (1997), Star Trek: First Contact...
940    [Empire Strikes Back, The (1980), L.A. Confide...
941    [Men in Black (1997), Star Trek: First Contact...
942    [Empire Strikes Back, The (1980), Hunt for Red...
943    [Empire Strikes Back, The (1980), Legends of t...
Name: title, Length: 944, dtype: object

In [16]:
!pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp36-none-any.whl size=5975 sha256=7eaa6e548a049f1fc81727548422c0b543e0fccbdd2d1bf65d93a83597374eca
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [17]:
from apyori import apriori

In [18]:
list(apriori(asso,min_support=0.3,min_confidence=0.99))

[RelationRecord(items=frozenset({'Empire Strikes Back, The (1980)', 'Star Wars (1977)', 'Return of the Jedi (1983)'}), support=0.3336864406779661, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Empire Strikes Back, The (1980)', 'Return of the Jedi (1983)'}), items_add=frozenset({'Star Wars (1977)'}), confidence=0.9936908517350158, lift=1.6089951355709349)]),
 RelationRecord(items=frozenset({'Raiders of the Lost Ark (1981)', 'Empire Strikes Back, The (1980)', 'Star Wars (1977)', 'Return of the Jedi (1983)'}), support=0.3114406779661017, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Raiders of the Lost Ark (1981)', 'Empire Strikes Back, The (1980)', 'Return of the Jedi (1983)'}), items_add=frozenset({'Star Wars (1977)'}), confidence=0.9966101694915255, lift=1.6137221269296742)])]

In [19]:
Movie1 = os.path.join(path,'movies.csv')
Movie1 = pd.read_csv(Movie1)
Movie1

       movieId  ...                                       genres
0            1  ...  Adventure|Animation|Children|Comedy|Fantasy
1            2  ...                   Adventure|Children|Fantasy
2            3  ...                               Comedy|Romance
3            4  ...                         Comedy|Drama|Romance
4            5  ...                                       Comedy
...        ...  ...                                          ...
34179   151697  ...                                     Thriller
34180   151701  ...                           (no genres listed)
34181   151703  ...                                        Drama
34182   151709  ...                                 Drama|Sci-Fi
34183   151711  ...                           (no genres listed)

[34184 rows x 3 columns]

In [20]:
hj = pd.merge(Movie1,df,on='title')
hj

       movieId                        title  ... rating  timestamp
0            1             Toy Story (1995)  ...      4  887736532
1            1             Toy Story (1995)  ...      5  875334088
2            1             Toy Story (1995)  ...      4  877019411
3            1             Toy Story (1995)  ...      4  891700426
4            1             Toy Story (1995)  ...      3  883601324
...        ...                          ...  ...    ...        ...
88923     6531  Hour of the Pig, The (1993)  ...      3  882386895
88924     6531  Hour of the Pig, The (1993)  ...      4  892783525
88925     6531  Hour of the Pig, The (1993)  ...      4  891721078
88926     6531  Hour of the Pig, The (1993)  ...      3  887159603
88927     8739            Mamma Roma (1962)  ...      4  891211682

[88928 rows x 7 columns]

In [21]:
poi = hj[['user_id','item_id','rating','timestamp','title','genres']]
poi

       user_id  ...                                       genres
0          308  ...  Adventure|Animation|Children|Comedy|Fantasy
1          287  ...  Adventure|Animation|Children|Comedy|Fantasy
2          148  ...  Adventure|Animation|Children|Comedy|Fantasy
3          280  ...  Adventure|Animation|Children|Comedy|Fantasy
4           66  ...  Adventure|Animation|Children|Comedy|Fantasy
...        ...  ...                                          ...
88923      429  ...                          Crime|Drama|Mystery
88924      551  ...                          Crime|Drama|Mystery
88925       94  ...                          Crime|Drama|Mystery
88926      896  ...                          Crime|Drama|Mystery
88927      840  ...                                        Drama

[88928 rows x 6 columns]

In [22]:
df['genres'] = df['title'].map(Movie1.set_index('title')['genres'])
df

        user_id  ...        genres
0             0  ...           NaN
1           213  ...           NaN
2            92  ...           NaN
3            77  ...           NaN
4           194  ...           NaN
...         ...  ...           ...
99997       840  ...         Drama
99998       655  ...           NaN
99999       655  ...  Comedy|Drama
100000      655  ...           NaN
100001      655  ...         Drama

[100002 rows x 6 columns]

In [23]:
E = df[df['title']=='Empire Strikes Back, The (1980)']

In [24]:
io = E.fillna('action sci fi')

In [25]:
st = df[df['title']=='Star Wars (1977)']
st = st.fillna('action sci fi')

In [26]:
Mo = df[df['title']=='Monty Python and the Holy Grail (1974)']
Mo = Mo.fillna('Adventure, Comedy, Fantasy')

In [27]:
Mrs = df[df['title']=='Mrs. Brown (Her Majesty, Mrs. Brown) (1997)']
Mrs = Mrs.fillna('Biography, Drama, History')

In [28]:
Pro = df[df['title']=='Professional, The (1994)']
Pro = Pro.fillna('Action, Crime, Drama')

In [29]:
Ind = df[df['title']=='Independence Day (ID4) (1996)']
Ind = Ind.fillna('Action, Adventure, Sci-Fi')

In [30]:
Bea = df[df['title']=='Beavis and Butt-head Do America (1996)']
Bea = Bea.fillna('Animation, Adventure, Comedy')

In [31]:
Red = df[df['title']=='Red Firecracker, Green Firecracker (1994)']
Red = Red.fillna('Life,romance')

In [32]:
Ko = df[df['title']=='Kolya (1996)']
Ko = Ko.fillna('Comedy, Drama, Music')

In [33]:
He = df[df['title']=='Heavyweights (1994)']
He = He.fillna('Comedy,Drama,Family')

In [34]:
Dr = df[df['title']=='Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)']
Dr = Dr.fillna('Science Fiction, Drama, Comedy, Action')

In [35]:
Men = df[df['title']=='Men in Black (1997)']
Men = Men.fillna('Action, Adventure, Comedy')

In [36]:
Evil = df[df['title']=='Evil Dead II (1987)']
Evil = Evil.fillna('Action, Comedy, Fantasy')

In [37]:
Ret = df[df['title']=='Return of the Jedi (1983)']
Ret = Ret.fillna('Action, Adventure, Fantasy')

In [38]:
Con = df[df['title']=='Conan the Barbarian (1981)']
Con = Con.fillna('Action, Adventure, Fantasy')

In [39]:
Boot = df[df['title']=='Boot, Das (1981)']
Boot = Boot.fillna('Adventure, Drama, Thriller')

In [40]:
City = df[df['title']=='City of Lost Children, The (1995)']
City = City.fillna('Adventure, Drama, Thriller')

In [41]:
Win = df[df['title']=='Wings of Desire (1987)']
Win = Win.fillna('Fantasy,Romance')

In [42]:
Rai = df[df['title']=='Raiders of the Lost Ark (1981)']
Rai = Rai.fillna('Action, Adventure')

In [43]:
Will = df[df['title']=='Willy Wonka and the Chocolate Factory (1971)']
Will = Will.fillna('Family, Fantasy, Musical')

In [44]:
Tales = df[df['title']=='Tales From the Crypt Presents: Demon Knight (1995)']
Tales = Tales.fillna('Action, Fantasy, Horror')

In [45]:
Postino = df[df['title']=='Postino, Il (1994)']
Postino = Postino.fillna('Biography, Comedy, Drama')

In [46]:
Close = df[df['title']=='Close Shave, A (1995)']
Close = Close.fillna('Animation, Short, Comedy')

In [47]:
interview = df[df['title']=='Interview with the Vampire (1994)']
interview = interview.fillna('Drama, Horror')

In [48]:
God = df[df['title']=='Good, The Bad and The Ugly, The (1966)']
God = God.fillna('Western')

In [49]:
Ghost = df[df['title']=='Ghost in the Shell (Kokaku kidotai) (1995)']
Ghost = Ghost.fillna('Animation, Action, Crime')

In [50]:
Jackie = df[df['title']=='Three Colors: White (1994)']
Jackie = Jackie.fillna('Comedy, Drama, Romance')

In [51]:
Shave = df[df['title']=='Close Shave, A (1995)']
Shave = Shave.fillna('Animation, Short, Comedy')

In [52]:
Star = df[df['title']=='Star Trek: The Wrath of Khan (1982)']
Star = Star.fillna('Action, Adventure, Sci-Fi')

In [53]:
Pink = df[df['title']=='Pink Floyd - The Wall (1982)']
Pink = Pink.fillna('Drama, Fantasy, Music')

In [54]:
Twelve = df[df['title']=='Twelve Monkeys (1995)']
Twelve = Twelve.fillna('Mystery, Sci-Fi, Thriller')

In [55]:
Seven = df[df['title']=='Seven (Se7en) (1995)']
Seven = Seven.fillna('Crime, Drama, Mystery')

In [56]:
Nikita = df[df['title']=='Nikita (La Femme Nikita) (1990)']
Nikita = Nikita.fillna('Action,Thriller')

In [57]:
Grand = df[df['title']=='Grand Day Out, A (1992)']
Grand = Grand.fillna('Animation,Short,Adventure')

In [58]:
When = df[df['title']=='When the Cats Away (Chacun cherche son chat) (1996)']
When = When.fillna('Comedy, Romance')

In [59]:
Wrong = df[df['title']=='Wrong Trousers, The (1993)']
Wrong = Wrong.fillna('Animation, Short, Comedy')

In [60]:
Like = df[df['title']=='Like Water For Chocolate (Como agua para chocolate) (1992)']
Like = Like.fillna('Drama, Romance')

In [61]:
Panther = df[df['title']=='Return of the Pink Panther, The (1974)']
Panther = Panther.fillna('Comedy, Crime, Mystery')

In [62]:
Blue = df[df['title']=='Three Colors: Blue (1993)']
Blue = Blue.fillna('Drama, Music, Mystery')

In [63]:
MASH = df[df['title']=='M*A*S*H (1970)']
MASH = MASH.fillna('Comedy, Drama, War')

In [64]:
GoodFellas = df[df['title']=='GoodFellas (1990)']
GoodFellas = GoodFellas.fillna('Biography, Crime, Drama')

In [65]:
Wars = df[df['title']=='Star Wars (1977)']
Wars = Wars.fillna('Action, Adventure, Fantasy')

In [66]:
Data_set = pd.concat([poi,io,Ko,He,Dr,Men,Evil,Ret,Con,Boot,City,Win,Rai,Will,Tales,Postino,Close,interview,God,Ghost,Jackie,Shave,Star,Pink,Twelve,Seven,Nikita,Grand,When,Wrong,Like,Panther,Blue,MASH,GoodFellas,Wars])
Data_set

       user_id  ...                                       genres
0          308  ...  Adventure|Animation|Children|Comedy|Fantasy
1          287  ...  Adventure|Animation|Children|Comedy|Fantasy
2          148  ...  Adventure|Animation|Children|Comedy|Fantasy
3          280  ...  Adventure|Animation|Children|Comedy|Fantasy
4           66  ...  Adventure|Animation|Children|Comedy|Fantasy
...        ...  ...                                          ...
51291      749  ...                   Action, Adventure, Fantasy
51292      886  ...                   Action, Adventure, Fantasy
51293      739  ...                   Action, Adventure, Fantasy
51294      903  ...                   Action, Adventure, Fantasy
51295      780  ...                   Action, Adventure, Fantasy

[95167 rows x 6 columns]

In [ ]:
action = []
for i in range(0,len(df)):
  # if(df["genres"]
  data = str(df["genres"][i])
  if(data=="nan"):
    print(df["title"][i])
    action.append(df["title"][i])

In [107]:
T = pd.DataFrame(action,columns=['movie'])
DROP = T.drop_duplicates()
DROP

                                                   movie
0                        Empire Strikes Back, The (1980)
368                                         Kolya (1996)
485                                  Heavyweights (1994)
498    Dr. Strangelove or: How I Learned to Stop Worr...
692                                  Men in Black (1997)
...                                                  ...
11068                                You So Crazy (1994)
11069                              Next Step, The (1995)
11071          Scream of Stone (Schrei aus Stein) (1991)
11072                             Eighth Day, The (1996)
11073  Silence of the Palace, The (Saimt el Qusur) (1...

[237 rows x 1 columns]

In [87]:
R = Data_set[Data_set['rating']>=3]
R

       user_id  ...                                       genres
0          308  ...  Adventure|Animation|Children|Comedy|Fantasy
1          287  ...  Adventure|Animation|Children|Comedy|Fantasy
2          148  ...  Adventure|Animation|Children|Comedy|Fantasy
3          280  ...  Adventure|Animation|Children|Comedy|Fantasy
4           66  ...  Adventure|Animation|Children|Comedy|Fantasy
...        ...  ...                                          ...
51291      749  ...                   Action, Adventure, Fantasy
51292      886  ...                   Action, Adventure, Fantasy
51293      739  ...                   Action, Adventure, Fantasy
51294      903  ...                   Action, Adventure, Fantasy
51295      780  ...                   Action, Adventure, Fantasy

[78777 rows x 6 columns]

In [134]:
association = Data_set.groupby('user_id')['title'].apply(list)
list(apriori(association,min_support=0.3,min_confidence=0.99))

[RelationRecord(items=frozenset({'Empire Strikes Back, The (1980)', 'Star Wars (1977)', 'Return of the Jedi (1983)'}), support=0.3336864406779661, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Empire Strikes Back, The (1980)', 'Return of the Jedi (1983)'}), items_add=frozenset({'Star Wars (1977)'}), confidence=0.9936908517350158, lift=1.6089951355709349)]),
 RelationRecord(items=frozenset({'Raiders of the Lost Ark (1981)', 'Empire Strikes Back, The (1980)', 'Star Wars (1977)', 'Return of the Jedi (1983)'}), support=0.3114406779661017, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Raiders of the Lost Ark (1981)', 'Empire Strikes Back, The (1980)', 'Return of the Jedi (1983)'}), items_add=frozenset({'Star Wars (1977)'}), confidence=0.9966101694915255, lift=1.6137221269296742)])]

In [88]:
Rating = R.groupby('user_id')['title'].apply(list)
Rating

user_id
0                      [Empire Strikes Back, The (1980)]
1      [Toy Story (1995), GoldenEye (1995), Four Room...
2      [Toy Story (1995), Heat (1995), Sabrina (1995)...
3      [Schindler's List (1993), Paradise Lost: The C...
4      [Client, The (1994), One Flew Over the Cuckoo'...
                             ...
939    [Grumpier Old Men (1995), Father of the Bride ...
940    [American President, The (1995), Babe (1995), ...
941    [Toy Story (1995), Heat (1995), Mr. Holland's ...
942    [Grumpier Old Men (1995), Crimson Tide (1995),...
943    [Sabrina (1995), GoldenEye (1995), Dead Man Wa...
Name: title, Length: 944, dtype: object

In [89]:
list(apriori(Rating,min_support=0.3,min_confidence=0.9))

[RelationRecord(items=frozenset({'Empire Strikes Back, The (1980)', 'Star Wars (1977)'}), support=0.3463983050847458, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Empire Strikes Back, The (1980)'}), items_add=frozenset({'Star Wars (1977)'}), confidence=0.9316239316239316, lift=1.5760806298440708)]),
 RelationRecord(items=frozenset({'Star Wars (1977)', 'Return of the Jedi (1983)'}), support=0.4766949152542373, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Return of the Jedi (1983)'}), items_add=frozenset({'Star Wars (1977)'}), confidence=0.9453781512605043, lift=1.5993494171862295)]),
 RelationRecord(items=frozenset({'Raiders of the Lost Ark (1981)', 'Empire Strikes Back, The (1980)', 'Star Wars (1977)'}), support=0.3156779661016949, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Raiders of the Lost Ark (1981)', 'Empire Strikes Back, The (1980)'}), items_add=frozenset({'Star Wars (1977)'}), confidence=0.9675324675324675, lift=1.6368291207000885), OrderedStatistic(items_base=frozenset({'Empire Strikes Back, The (1980)', 'Star Wars (1977)'}), items_add=frozenset({'Raiders of the Lost Ark (1981)'}), confidence=0.91131498470948, lift=2.1346931651755563)]),
 RelationRecord(items=frozenset({'Empire Strikes Back, The (1980)', 'Star Wars (1977)', 'Return of the Jedi (1983)'}), support=0.3103813559322034, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Empire Strikes Back, The (1980)', 'Return of the Jedi (1983)'}), items_add=frozenset({'Star Wars (1977)'}), confidence=0.9898648648648649, lift=1.6746100939649329)]),
 RelationRecord(items=frozenset({'Fargo (1996)', 'Star Wars (1977)', 'Return of the Jedi (1983)'}), support=0.3029661016949153, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Fargo (1996)', 'Return of the Jedi (1983)'}), items_add=frozenset({'Star Wars (1977)'}), confidence=0.9533333333333335, lift=1.6128076463560337)]),
 RelationRecord(items=frozenset({'Raiders of the Lost Ark (1981)', 'Star Wars (1977)', 'Return of the Jedi (1983)'}), support=0.3294491525423729, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Raiders of the Lost Ark (1981)', 'Return of the Jedi (1983)'}), items_add=frozenset({'Star Wars (1977)'}), confidence=0.9779874213836478, lift=1.6545163544554902)]),
 RelationRecord(items=frozenset({'Toy Story (1995)', 'Star Wars (1977)', 'Return of the Jedi (1983)'}), support=0.3167372881355932, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Toy Story (1995)', 'Return of the Jedi (1983)'}), items_add=frozenset({'Star Wars (1977)'}), confidence=0.9739413680781758, lift=1.6476714183974874)])]

In [72]:
RN = Data_set[Data_set['rating']<3]
RN

       user_id  ...                                       genres
18          49  ...  Adventure|Animation|Children|Comedy|Fantasy
26         213  ...  Adventure|Animation|Children|Comedy|Fantasy
49         322  ...  Adventure|Animation|Children|Comedy|Fantasy
53         204  ...  Adventure|Animation|Children|Comedy|Fantasy
58          15  ...  Adventure|Animation|Children|Comedy|Fantasy
...        ...  ...                                          ...
51164      765  ...                   Action, Adventure, Fantasy
51198      745  ...                   Action, Adventure, Fantasy
51212      566  ...                   Action, Adventure, Fantasy
51239      183  ...                   Action, Adventure, Fantasy
51265      930  ...                   Action, Adventure, Fantasy

[16390 rows x 6 columns]

In [73]:
Ratinglow = RN.groupby('user_id')['title'].apply(list)
Ratinglow

user_id
0                            [Gone with the Wind (1939)]
1      [Babe (1995), Muppet Treasure Island (1996), B...
2      [Richard III (1995), Liar Liar (1997), Deceive...
3      [In the Name of the Father (1993), Everyone Sa...
4                                         [Spawn (1997)]
                             ...
939    [Island of Dr. Moreau, The (1996), Kull the Co...
940    [Get Shorty (1995), Rob Roy (1995), Bullets Ov...
941      [Star Trek: First Contact (1996), Spawn (1997)]
942                             [Full Monty, The (1997)]
943    [Grumpier Old Men (1995), Father of the Bride ...
Name: title, Length: 911, dtype: object

In [74]:
list(apriori(Ratinglow,min_support=0.01,min_confidence=0.8))

[RelationRecord(items=frozenset({'Liar Liar (1997)', 'Scream (1996)', 'Bean (1997)'}), support=0.010976948408342482, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Scream (1996)', 'Bean (1997)'}), items_add=frozenset({'Liar Liar (1997)'}), confidence=0.8333333333333334, lift=6.326388888888889)])]

In [75]:
genres = Data_set.groupby('user_id')['genres'].apply(list)
genres

user_id
0                     [Drama|Romance|War, action sci fi]
1      [Adventure|Animation|Children|Comedy|Fantasy, ...
2      [Adventure|Animation|Children|Comedy|Fantasy, ...
3      [Drama, Drama|War, Comedy|Musical|Romance, Doc...
4      [Drama|Mystery|Thriller, Drama, Action|Adventu...
                             ...
939    [Comedy|Romance, Comedy, Comedy|Romance, Drama...
940    [Comedy|Drama|Romance, Comedy|Crime|Thriller, ...
941    [Adventure|Animation|Children|Comedy|Fantasy, ...
942    [Comedy|Romance, Drama|Thriller|War, Adventure...
943    [Comedy|Romance, Comedy, Comedy|Romance, Actio...
Name: genres, Length: 944, dtype: object

In [76]:
list(apriori(genres,min_support=0.9,min_confidence=0.8))

[RelationRecord(items=frozenset({'Comedy'}), support=0.9226694915254238, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Comedy'}), confidence=0.9226694915254238, lift=1.0)]),
 RelationRecord(items=frozenset({'Drama'}), support=0.9067796610169492, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Drama'}), confidence=0.9067796610169492, lift=1.0)]),
 RelationRecord(items=frozenset({'Drama|Romance'}), support=0.9014830508474576, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Drama|Romance'}), confidence=0.9014830508474576, lift=1.0)])]

In [77]:
list(apriori(genres,min_support=0.8,min_confidence=0.9))

[RelationRecord(items=frozenset({'Comedy'}), support=0.9226694915254238, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Comedy'}), confidence=0.9226694915254238, lift=1.0)]),
 RelationRecord(items=frozenset({'Drama'}), support=0.9067796610169492, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Drama'}), confidence=0.9067796610169492, lift=1.0)]),
 RelationRecord(items=frozenset({'Drama|Romance'}), support=0.9014830508474576, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Drama|Romance'}), confidence=0.9014830508474576, lift=1.0)]),
 RelationRecord(items=frozenset({'Comedy', 'Drama'}), support=0.8495762711864406, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Comedy'}), items_add=frozenset({'Drama'}), confidence=0.9207807118254878, lift=1.0154404111720332), OrderedStatistic(items_base=frozenset({'Drama'}), items_add=frozenset({'Comedy'}), confidence=0.9369158878504672, lift=1.0154404111720332)]),
 RelationRecord(items=frozenset({'Comedy', 'Drama|Romance'}), support=0.847457627118644, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Comedy'}), items_add=frozenset({'Drama|Romance'}), confidence=0.9184845005740527, lift=1.0188594224934262), OrderedStatistic(items_base=frozenset({'Drama|Romance'}), items_add=frozenset({'Comedy'}), confidence=0.9400705052878966, lift=1.0188594224934264)]),
 RelationRecord(items=frozenset({'Drama', 'Drama|Romance'}), support=0.836864406779661, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Drama'}), items_add=frozenset({'Drama|Romance'}), confidence=0.9228971962616822, lift=1.023754351669833), OrderedStatistic(items_base=frozenset({'Drama|Romance'}), items_add=frozenset({'Drama'}), confidence=0.9283196239717979, lift=1.023754351669833)])]

In [115]:
count = Data_set.groupby('title')['user_id'].count()
count = pd.DataFrame(count)
count

                                       user_id
title
'Til There Was You (1997)                    9
101 Dalmatians (1996)                      109
12 Angry Men (1957)                        125
2 Days in the Valley (1996)                 93
20,000 Leagues Under the Sea (1954)         72
...                                        ...
Young Frankenstein (1974)                  200
Young Guns (1988)                          101
Young Guns II (1990)                        44
Young Poisoner's Handbook, The (1995)       41
Zeus and Roxanne (1997)                      6

[1461 rows x 1 columns]