<a href="https://colab.research.google.com/github/thanadolch/KKU_data_mining/blob/master/Quize.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
path = '/content/drive/My Drive/DVZ'

In [3]:
import pandas as pd
import os

In [5]:
df = os.path.join(path,'3.-41-58.csv')

In [9]:
data = pd.read_csv(df,encoding='latin',)
data

    ÃÒÂä´éà©ÅÕèÂµèÍà´×Í¹µèÍ¤ÃÑÇàÃ×Í¹ ¨Óá¹¡µÒÁÀÒ¤ áÅÐ¨Ñ§ËÇÑ´ ¾.È. 2541 - 2558  ... Unnamed: 66
0    Average Monthly Income Per Household: 1998 - 2015                        ...         NaN
1                                                  NaN                        ...         NaN
2                                       ÀÒ¤ áÅÐ¨Ñ§ËÇÑ´                        ...         NaN
3                                                  NaN                        ...         NaN
4                                                  NaN                        ...         NaN
..                                                 ...                        ...         ...
104                                                NaN                        ...         NaN
105                                                NaN                        ...         NaN
106                                                NaN                        ...         NaN
107                                                NaN                        ...         NaN
108                                                NaN                        ...         NaN

[109 rows x 67 columns]

In [10]:
df1 = os.path.join(path,'3.-41-58.xls')

In [33]:
data1[data1['ภาค และจังหวัด']=='ภาคใต้']

   ภาค และจังหวัด     2541     2543  ...     2556          2558  Region and province
70         ภาคใต้  11461.0  11186.0  ...  27504.0  26285.520328      Southern Region

[1 rows x 12 columns]

In [35]:
data1 = pd.read_excel(df1,skiprows=3,skipfooter=4)
data1 = data1.drop(index=0)
data1 = data1.drop(index=1)
data1 = data1.drop(columns='Unnamed: 1')
data1 = data1.drop(index=2)
data1 = data1.drop(index=3)
data1 = data1.drop(index=49)
data1 = data1.drop(index=70)
data1 = data1.drop(index=8)
data1

         ภาค และจังหวัด     2541  ...     2558           Region and province
4         กรุงเทพมหานคร  26054.0  ...  45571.7                       Bangkok
5           สมุทรปราการ  18100.0  ...  25457.2                  Samut Prakan
6               นนทบุรี  24211.0  ...  36884.0                    Nonthaburi
7              ปทุมธานี  21793.0  ...  41056.9                  Pathum Thani
9       พระนครศรีอยุธยา  12918.0  ...  28379.4      Phra Nakhon Si Ayutthaya
..                  ...      ...  ...      ...                           ...
80                 ตรัง  12973.0  ...  23309.1                         Trang
81               พัทลุง  12315.0  ...  21478.3                    Phattalung
82              ปัตตานี  10737.0  ...  17513.0                       Pattani
83                 ยะลา   7560.0  ...  15583.8                          Yala
84             นราธิวาส   6281.0  ...  19889.6                    Narathiwat

[78 rows x 12 columns]