<a href="https://colab.research.google.com/github/thanadolch/KKU_data_mining/blob/master/Untitled46.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
path = '/content/drive/My Drive/DVZ'

In [3]:
import pandas as pd
import os

In [4]:
search_click = pd.read_csv(os.path.join(path,'search_click (1).csv'))
search_click.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

เปรียบเทียบเวลาเฉลี่ยที่ใช้ในการกดเลือกร้าน time_diff_nanos ระหว่างเวลา 10.00-10.59 กับ 23.00-23.59 ว่าช่วงเวลาไหนมี time_diff_nanos น้อยกว่ากัน

In [5]:
type(search_click['click_timestamp'])

pandas.core.series.Series

In [6]:
from datetime import datetime
search_click['click_timestamp'] = [i.strftime('timestamp') if isinstance(i,datetime) else i for i in search_click['click_timestamp']]
search_click.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [7]:
type(search_click['click_timestamp'])

pandas.core.series.Series

In [8]:
df1 = search_click[search_click['click_timestamp']>='10:00.0']

In [9]:
df2 = df1[df1['click_timestamp']<='11:59.0']
df2['time_diff_nanos'].mean()

758245713977757.6

In [10]:
df = search_click[search_click['click_timestamp']>='23:00.0']
df3 = df[df['click_timestamp']<='23:59.0']
df3['time_diff_nanos'].mean()

842857959173057.1

เปรียบเทยบผลรวม alpha และ beta ของข้อมูลก่อนและหลังวันที่ 2 มิถุนายน 2020

In [11]:
timestamp = pd.read_csv(os.path.join(path,'example_timestamp_02.csv'))
timestamp

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

In [12]:
from datetime import datetime
timestamp['Unnamed: 0'] = [i.strftime('%Y-%m-%d') if isinstance(i,datetime) else i for i in timestamp['Unnamed: 0']]
timestamp

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

In [20]:
one1

   Unnamed: 0  alpha  beta
3  01-06-2020   1.94    28

In [19]:
one1 = timestamp[timestamp['Unnamed: 0']<'02-06-2020']
one1['alpha'].sum()

1.94

In [18]:
one1['beta'].sum()

85

In [ ]:
two

In [ ]:
two = timestamp[timestamp['Unnamed: 0']>='2020-06-02']
two['alpha'].sum()

In [ ]:
two['beta'].sum()