<a href="https://colab.research.google.com/github/thanadolch/KKU_data_mining/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd

In [1]:
import numpy as np

In [5]:
poin = np.array([[1,2,3],[4,5,6],[7,8,9]])
poin

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [6]:
import math

In [8]:
def Eucledean(data1,data2):
    distX = pow((data1[0]-data2[0]),2)
    distY = pow((data1[1]-data2[1]),2)
    distZ = pow((data1[2]-data2[2]),2)
    return math.sqrt(distX+distY+distZ)

In [9]:
Eucledean(poin[0,:],poin[2,:])

10.392304845413264

In [19]:
data1 = np.zeros([3,3])
data1

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [21]:
for i in range(3):
    for j in range(3):
        data1[i,j] = Eucledean(poin[i,:],poin[j,:])
data1

array([[ 0.        ,  5.19615242, 10.39230485],
       [ 5.19615242,  0.        ,  5.19615242],
       [10.39230485,  5.19615242,  0.        ]])

In [23]:
mod = {'color':['red','bule','blue'],'gender':['boy','girl','boy']}
mod

{'color': ['red', 'bule', 'blue'], 'gender': ['boy', 'girl', 'boy']}

In [28]:
dist_b = pd.DataFrame.from_dict(mod)
dist_b

  color gender
0   red    boy
1  bule   girl
2  blue    boy

In [34]:
data_pd_binary = pd.get_dummies(dist_b)
data_pd_binary

   color_blue  color_bule  color_red  gender_boy  gender_girl
0           0           0          1           1            0
1           0           1          0           0            1
2           1           0          0           1            0

In [39]:
def binary_sym_dist(data1,data2):
    q = 0
    sr = 0
    t = 0
    for i in range(len(data1)):
        if data1[i] == data2[i]:
            if data1 != 0:
                q = q+1
            else:
                t = t + 1
        if data1[i] != data2[i]:
            sr = sr + 1
    return sr/q+t+sr

In [40]:
binary_sym_dist(list(data_pd_binary.iloc[0,:]),list(data_pd_binary.iloc[1,:]))

8.0

In [45]:
data5 = np.zeros((3,3))

In [47]:
for i in range(3):
    for j in range(3):
        data5[i,j] = binary_sym_dist(list(data_pd_binary.iloc[0,:]),list(data_pd_binary.iloc[1,:]))
data5

array([[8., 8., 8.],
       [8., 8., 8.],
       [8., 8., 8.]])