<a href="https://colab.research.google.com/github/thanadolch/KKU_data_mining/blob/master/Untitled21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import os

In [3]:
path = '/content/drive/My Drive/613020240-5'

In [4]:
search_click = pd.read_csv(os.path.join(path,'search_click.csv'))
search_click

         Unnamed: 0             click_timestamp  ...   time_diff_nanos   ads
0                 0  2018-06-15 05:11:38.914154  ...  2222397704154000  True
1                 1  2018-06-15 06:30:51.277476  ...   460838273476000  True
2                 2  2018-06-15 06:32:09.558025  ...  2581491438025000  True
3                 3  2018-06-15 06:00:59.820390  ...  1404578985390000  True
4                 4  2018-06-15 05:23:36.828525  ...   933358625525000  True
...             ...                         ...  ...               ...   ...
7882032     7882032  2018-06-28 01:59:10.893735  ...        4366735000  True
7882033     7882033  2018-06-28 01:59:11.085196  ...        4558196000  True
7882034     7882034  2018-06-28 06:49:02.493141  ...       16961141000  True
7882035     7882035  2018-06-28 06:36:02.865507  ...       27917507000  True
7882036     7882036  2018-06-28 06:20:35.249050  ...       86426050000  True

[7882037 rows x 7 columns]

In [5]:
w_restaurant = pd.read_csv(os.path.join(path,'w_restaurant.csv'))
w_restaurant

        Unnamed: 0      id  ... pet_friendly  delivery
0                0       2  ...          NaN       NaN
1                1       4  ...          NaN       NaN
2                2       5  ...          NaN       NaN
3                3       6  ...          NaN       NaN
4                4       7  ...          NaN       NaN
...            ...     ...  ...          ...       ...
246842      246842  340068  ...          NaN       NaN
246843      246843  340070  ...          NaN       NaN
246844      246844  340074  ...          NaN       NaN
246845      246845  340079  ...          NaN       NaN
246846      246846  340091  ...          NaN       NaN

[246847 rows x 33 columns]

In [6]:
search_request = pd.read_csv(os.path.join(path,'search_request.csv'))
search_request

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

          Unnamed: 0                             search_id  ...      lat     long
0                  0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1                  1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2                  2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3                  3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4                  4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
...              ...                                   ...  ...      ...      ...
10004352    10005225  5d8c10aa-63cf-4bdd-ab01-0af17a98781f  ...      NaN      NaN
10004353    10005226  66cc94db-217a-4d8e-aa20-b1d10e17c968  ...      NaN      NaN
10004354    10005227  4eb3b514-fb71-4dfe-a580-c560e8c9dcc7  ...      NaN      NaN
10004355    10005228  f5554532-2eb1-4ba6-a98e-1e10b2174d2c  ...      NaN      NaN
10004356    10005229  48421ba4-8c69-46a5-aa05-425ddc82a09a  ...      NaN      NaN

[10004357 rows x 10 columns]

In [7]:
X = search_click.dropna()
X.shape

(7880121, 7)

In [21]:
search_click['search_timestamp'] = search_click['search_id'].map(search_request.set_index('search_id')['search_timestamp'])
search_click

         Unnamed: 0             click_timestamp  ...   ads         search_timestamp
0                 0  2018-06-15 05:11:38.914154  ...  True                      NaN
1                 1  2018-06-15 06:30:51.277476  ...  True                      NaN
2                 2  2018-06-15 06:32:09.558025  ...  True                      NaN
3                 3  2018-06-15 06:00:59.820390  ...  True                      NaN
4                 4  2018-06-15 05:23:36.828525  ...  True                      NaN
...             ...                         ...  ...   ...                      ...
7882032     7882032  2018-06-28 01:59:10.893735  ...  True  2018-06-28 01:59:06.275
7882033     7882033  2018-06-28 01:59:11.085196  ...  True  2018-06-28 01:59:06.275
7882034     7882034  2018-06-28 06:49:02.493141  ...  True  2018-06-28 06:48:45.175
7882035     7882035  2018-06-28 06:36:02.865507  ...  True  2018-06-28 06:35:34.618
7882036     7882036  2018-06-28 06:20:35.249050  ...  True  2018-06-28 06:19:08.662

[7882037 rows x 8 columns]

In [22]:
search_click_df = search_click[['search_id','business_id','search_timestamp']]
search_click_df

                                    search_id  ...         search_timestamp
0        5c004472-5ecc-4159-9698-9f329b8e26e1  ...                      NaN
1        5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...                      NaN
2        8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...                      NaN
3        1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...                      NaN
4        6bc75e0d-fc65-471e-9926-ff6be6708639  ...                      NaN
...                                       ...  ...                      ...
7882032  9ecd2dc1-b6f6-486d-b751-33eb16c53951  ...  2018-06-28 01:59:06.275
7882033  9ecd2dc1-b6f6-486d-b751-33eb16c53951  ...  2018-06-28 01:59:06.275
7882034  d086453d-7fde-4766-af39-8205f0f0a4aa  ...  2018-06-28 06:48:45.175
7882035  d157eba1-15e6-4f7a-b090-27a311d976a0  ...  2018-06-28 06:35:34.618
7882036  fb09595c-26cf-4bf3-a51b-1a9b4dd2fe50  ...  2018-06-28 06:19:08.662

[7882037 rows x 3 columns]

In [25]:
search_click_df['lat'] = search_click_df['search_id'].map(search_request.set_index('search_id')['lat'])
search_click_df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                                    search_id  ...      lat
0        5c004472-5ecc-4159-9698-9f329b8e26e1  ...      NaN
1        5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...      NaN
2        8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...      NaN
3        1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...      NaN
4        6bc75e0d-fc65-471e-9926-ff6be6708639  ...      NaN
...                                       ...  ...      ...
7882032  9ecd2dc1-b6f6-486d-b751-33eb16c53951  ...   13.758
7882033  9ecd2dc1-b6f6-486d-b751-33eb16c53951  ...   13.758
7882034  d086453d-7fde-4766-af39-8205f0f0a4aa  ...  12.9324
7882035  d157eba1-15e6-4f7a-b090-27a311d976a0  ...  13.6908
7882036  fb09595c-26cf-4bf3-a51b-1a9b4dd2fe50  ...  13.7797

[7882037 rows x 4 columns]

In [26]:
search_click_df['long'] = search_click_df['search_id'].map(search_request.set_index('search_id')['long'])
search_click_df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                                    search_id  business_id  ...      lat     long
0        5c004472-5ecc-4159-9698-9f329b8e26e1     298839.0  ...      NaN      NaN
1        5f34eca0-c04e-4c10-b600-54aa447dbd8e     171372.0  ...      NaN      NaN
2        8dc6d1f0-11f1-4239-9dd2-5c1674c81224      16157.0  ...      NaN      NaN
3        1a5810e9-3d1f-44b9-9a2e-26ede21c524b      89741.0  ...      NaN      NaN
4        6bc75e0d-fc65-471e-9926-ff6be6708639     189564.0  ...      NaN      NaN
...                                       ...          ...  ...      ...      ...
7882032  9ecd2dc1-b6f6-486d-b751-33eb16c53951      16614.0  ...   13.758   100.56
7882033  9ecd2dc1-b6f6-486d-b751-33eb16c53951      16614.0  ...   13.758   100.56
7882034  d086453d-7fde-4766-af39-8205f0f0a4aa      19569.0  ...  12.9324  100.885
7882035  d157eba1-15e6-4f7a-b090-27a311d976a0     227719.0  ...  13.6908  101.083
7882036  fb09595c-26cf-4bf3-a51b-1a9b4dd2fe50     316442.0  ...  13.7797  100.562

[7882037 rows x 5 columns]

In [71]:
search_click_df['category_name'] = search_click_df['business_id'].map(w_restaurant.set_index('id')['category_name'])
search_click_df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                                    search_id  ...  category_name
0        5c004472-5ecc-4159-9698-9f329b8e26e1  ...        Seafood
1        5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...       Japanese
2        8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...           Cafe
3        1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...        Dim Sum
4        6bc75e0d-fc65-471e-9926-ff6be6708639  ...       Japanese
...                                       ...  ...            ...
7882032  9ecd2dc1-b6f6-486d-b751-33eb16c53951  ...   Healthy Food
7882033  9ecd2dc1-b6f6-486d-b751-33eb16c53951  ...   Healthy Food
7882034  d086453d-7fde-4766-af39-8205f0f0a4aa  ...           Cafe
7882035  d157eba1-15e6-4f7a-b090-27a311d976a0  ...           Thai
7882036  fb09595c-26cf-4bf3-a51b-1a9b4dd2fe50  ...     Vegeterian

[7882037 rows x 6 columns]

In [75]:
tg = search_click_df.dropna()

tg คือตัวแปลที่เก็บตารางที่มี Columns -> search_id,business_id,search_timestamp,lat,long,category_name

In [76]:
tg

                                    search_id  ...     category_name
34       ac28033e-5236-4070-a2ab-92ffb6c9bad3  ...       Bakery/Cake
35       5f84bca7-bdac-4ce9-83e6-a5eaa02d4980  ...             Sushi
36       47748c4e-0761-476c-8232-4f8b1d1ddfdc  ...              Cafe
37       ac28033e-5236-4070-a2ab-92ffb6c9bad3  ...       Bakery/Cake
38       7cea7158-6649-4964-998a-9cc15c299abd  ...  Café/Coffee Shop
...                                       ...  ...               ...
7882032  9ecd2dc1-b6f6-486d-b751-33eb16c53951  ...      Healthy Food
7882033  9ecd2dc1-b6f6-486d-b751-33eb16c53951  ...      Healthy Food
7882034  d086453d-7fde-4766-af39-8205f0f0a4aa  ...              Cafe
7882035  d157eba1-15e6-4f7a-b090-27a311d976a0  ...              Thai
7882036  fb09595c-26cf-4bf3-a51b-1a9b4dd2fe50  ...        Vegeterian

[2549987 rows x 6 columns]

ทำการวนลูปเพื่อแบ่งข้อมูลของ คอลัมน์ search_timestamp ให้เป็นตารางที่มีคอลัมน์ สัปดาห์ วันที่ และ เวลา ที่search ใช้ชื่อว่าตาราง timestamp <br>
จากนั้นวนลูป is_food เพื่อให้ได้คอลัมน์ที่เป็น Target เพื่อใช้ทำนาย <br>
กำหนดให้ตาราง timestamp ที่ iloc[:-10,:] เป็น X_train และให้ Target ที่ iloc[:-10] เป็น y_train <br>
จากนั้นกำหนด ตัวทำนาย ใช้ Randomforests ในการทำนาย <br>
กำหนด 
from sklearn.ensemble import RandomForestClassifier
skRF = RandomForestClassifier()
skRF.fit(X_train,y_train)
skRF.score(X_test,y_test)

In [114]:
len(search_click_df)

7882037

In [118]:
i = list(tg['search_timestamp'])
i

['2018-06-15 05:18:07.583',
 '2018-06-15 05:19:08.797',
 '2018-06-15 05:31:59.616',
 '2018-06-15 05:18:07.583',
 '2018-06-15 05:57:32.540',
 '2018-06-15 06:50:18.501',
 '2018-06-15 06:51:54.662',
 '2018-06-15 06:57:57.139',
 '2018-06-15 06:48:35.378',
 '2018-06-15 06:55:27.580',
 '2018-06-15 06:55:36.720',
 '2018-06-15 06:05:25.187',
 '2018-06-15 05:28:38.627',
 '2018-06-15 06:00:39.947',
 '2018-06-15 05:31:59.616',
 '2018-06-15 05:07:05.399',
 '2018-06-15 05:57:32.540',
 '2018-06-15 06:13:24.190',
 '2018-06-15 06:12:04.055',
 '2018-06-15 06:40:59.195',
 '2018-06-15 06:04:58.777',
 '2018-06-15 06:52:54.955',
 '2018-06-15 06:55:27.580',
 '2018-06-15 06:52:54.949',
 '2018-06-15 06:09:21.615',
 '2018-06-15 06:25:31.764',
 '2018-06-15 06:47:40.858',
 '2018-06-15 06:55:27.603',
 '2018-06-15 06:39:58.347',
 '2018-06-15 06:55:27.580',
 '2018-06-15 06:55:27.580',
 '2018-06-15 05:54:21.627',
 '2018-06-15 05:18:07.583',
 '2018-06-15 06:25:31.707',
 '2018-06-15 06:14:07.316',
 '2018-06-15 06:55:27.603',
 '2018-06-15 05:31:59.616',
 '2018-06-15 06:30:15.819',
 '2018-06-15 06:30:15.819',
 '2018-06-15 06:51:54.662',
 '2018-06-15 06:30:15.819',
 '2018-06-15 05:46:09.194',
 '2018-06-15 06:13:42.485',
 '2018-06-15 06:44:40.568',
 '2018-06-15 06:36:58.426',
 '2018-06-15 06:23:10.180',
 '2018-06-15 06:14:04.354',
 '2018-06-15 06:35:10.253',
 '2018-06-15 06:35:10.253',
 '2018-06-15 06:36:58.426',
 '2018-06-15 06:32:50.071',
 '2018-06-15 05:21:35.476',
 '2018-06-15 06:01:22.046',
 '2018-06-15 05:02:16.235',
 '2018-06-15 05:48:48.259',
 '2018-06-15 05:27:46.084',
 '2018-06-15 05:27:46.084',
 '2018-06-15 05:20:48.856',
 '2018-06-15 05:27:46.084',
 '2018-06-15 05:20:06.729',
 '2018-06-15 05:45:27.673',
 '2018-06-15 05:38:38.654',
 '2018-06-15 05:33:10.253',
 '2018-06-15 05:00:57.270',
 '2018-06-15 05:18:17.318',
 '2018-06-15 05:20:23.956',
 '2018-06-15 05:56:04.019',
 '2018-06-15 06:23:46.153',
 '2018-06-15 06:38:35.486',
 '2018-06-15 06:54:41.020',
 '2018-06-15 06:27:49.915',
 '2018-06-15 06:09:22.283',
 '2018-06-15 06:51:28.842',
 '2018-06-15 06:35:57.840',
 '2018-06-15 06:09:22.283',
 '2018-06-15 06:12:12.967',
 '2018-06-15 06:15:23.834',
 '2018-06-15 06:21:05.967',
 '2018-06-15 06:21:08.355',
 '2018-06-15 06:40:07.439',
 '2018-06-15 06:40:07.439',
 '2018-06-15 06:21:39.133',
 '2018-06-15 06:17:54.283',
 '2018-06-15 06:38:24.944',
 '2018-06-15 06:31:59.123',
 '2018-06-15 06:28:56.032',
 '2018-06-15 06:42:00.502',
 '2018-06-15 05:41:30.428',
 '2018-06-15 05:41:30.428',
 '2018-06-15 04:59:13.230',
 '2018-06-15 05:21:35.476',
 '2018-06-15 05:21:35.476',
 '2018-06-15 05:20:48.856',
 '2018-06-15 05:26:01.713',
 '2018-06-15 05:27:46.084',
 '2018-06-15 05:19:26.302',
 '2018-06-15 05:27:46.084',
 '2018-06-15 06:27:49.915',
 '2018-06-15 06:48:49.841',
 '2018-06-15 06:23:06.477',
 '2018-06-15 06:31:24.321',
 '2018-06-15 06:27:23.609',
 '2018-06-15 06:20:20.542',
 '2018-06-15 06:26:51.802',
 '2018-06-15 06:11:32.408',
 '2018-06-15 06:31:24.321',
 '2018-06-15 06:45:55.193',
 '2018-06-15 06:20:19.984',
 '2018-06-15 06:45:05.609',
 '2018-06-15 06:17:54.283',
 '2018-06-15 06:15:47.848',
 '2018-06-15 06:50:40.577',
 '2018-06-15 06:50:20.991',
 '2018-06-15 06:45:55.193',
 '2018-06-15 06:40:07.439',
 '2018-06-15 06:23:55.580',
 '2018-06-15 06:50:20.991',
 '2018-06-15 06:09:22.283',
 '2018-06-15 06:15:23.834',
 '2018-06-15 05:20:48.856',
 '2018-06-15 05:08:28.448',
 '2018-06-15 05:20:48.856',
 '2018-06-15 05:41:30.428',
 '2018-06-15 05:20:48.856',
 '2018-06-15 05:41:30.428',
 '2018-06-15 05:20:48.856',
 '2018-06-15 05:18:16.567',
 '2018-06-15 05:19:39.980',
 '2018-06-15 05:58:24.240',
 '2018-06-15 04:57:28.707',
 '2018-06-15 05:41:30.428',
 '2018-06-15 06:40:25.593',
 '2018-06-15 06:26:51.802',
 '2018-06-15 06:20:50.907',
 '2018-06-15 06:12:50.147',
 '2018-06-15 06:27:49.915',
 '2018-06-15 06:27:49.915',
 '2018-06-15 06:43:16.595',
 '2018-06-15 06:20:20.542',
 '2018-06-15 06:45:55.193',
 '2018-06-15 06:45:55.193',
 '2018-06-15 05:02:17.716',
 '2018-06-15 05:41:30.428',
 '2018-06-15 05:18:17.318',
 '2018-06-15 05:48:48.259',
 '2018-06-15 05:21:35.476',
 '2018-06-15 05:47:39.430',
 '2018-06-15 05:27:46.084',
 '2018-06-15 05:45:59.446',
 '2018-06-15 06:29:01.656',
 '2018-06-15 06:07:48.390',
 '2018-06-15 06:17:25.860',
 '2018-06-15 06:41:47.868',
 '2018-06-15 06:58:07.354',
 '2018-06-15 06:17:25.860',
 '2018-06-15 06:26:29.288',
 '2018-06-15 06:23:55.580',
 '2018-06-15 06:26:29.288',
 '2018-06-15 06:26:51.802',
 '2018-06-15 06:21:36.786',
 '2018-06-15 06:37:08.361',
 '2018-06-15 06:23:55.580',
 '2018-06-15 06:23:06.477',
 '2018-06-15 06:20:20.542',
 '2018-06-15 06:38:24.944',
 '2018-06-15 06:09:22.283',
 '2018-06-15 06:12:13.154',
 '2018-06-15 06:28:12.671',
 '2018-06-15 06:20:16.022',
 '2018-06-15 05:59:24.274',
 '2018-06-15 06:48:24.348',
 '2018-06-15 05:18:16.567',
 '2018-06-15 06:00:19.150',
 '2018-06-15 05:46:39.823',
 '2018-06-15 05:45:59.446',
 '2018-06-15 06:00:19.150',
 '2018-06-15 05:51:19.319',
 '2018-06-15 05:21:35.476',
 '2018-06-15 05:27:46.084',
 '2018-06-15 05:00:16.784',
 '2018-06-15 06:20:20.542',
 '2018-06-15 06:29:28.363',
 '2018-06-15 06:16:52.188',
 '2018-06-15 06:16:52.188',
 '2018-06-15 06:50:17.154',
 '2018-06-15 06:40:25.593',
 '2018-06-15 06:20:20.542',
 '2018-06-15 06:20:20.542',
 '2018-06-15 06:41:15.819',
 '2018-06-15 06:35:57.840',
 '2018-06-15 06:58:38.607',
 '2018-06-15 06:29:01.656',
 '2018-06-15 06:41:33.645',
 '2018-06-15 06:22:35.644',
 '2018-06-15 06:27:49.915',
 '2018-06-15 05:00:57.270',
 '2018-06-15 05:49:44.599',
 '2018-06-15 05:21:35.476',
 '2018-06-15 05:02:17.716',
 '2018-06-15 05:56:04.019',
 '2018-06-15 05:51:46.653',
 '2018-06-15 05:50:56',
 '2018-06-15 05:06:42.624',
 '2018-06-15 05:00:14.452',
 '2018-06-15 05:19:39.980',
 '2018-06-15 06:15:23.834',
 '2018-06-15 06:19:43.491',
 '2018-06-15 06:41:23.644',
 '2018-06-15 06:12:12.967',
 '2018-06-15 06:41:56.475',
 '2018-06-15 06:27:49.915',
 '2018-06-15 06:17:25.860',
 '2018-06-15 06:27:48.421',
 '2018-06-15 06:27:49.915',
 '2018-06-15 06:27:49.915',
 '2018-06-15 06:41:45.156',
 '2018-06-15 06:29:01.656',
 '2018-06-15 05:53:54.267',
 '2018-06-15 05:26:23.367',
 '2018-06-15 05:06:42.624',
 '2018-06-15 06:00:19.150',
 '2018-06-15 05:19:39.980',
 '2018-06-15 05:18:16.567',
 '2018-06-15 05:20:48.856',
 '2018-06-15 06:40:40.977',
 '2018-06-15 06:46:30.911',
 '2018-06-15 06:27:49.915',
 '2018-06-15 06:29:01.656',
 '2018-06-15 06:36:40.799',
 '2018-06-15 06:58:07.354',
 '2018-06-15 06:06:20.333',
 '2018-06-15 04:51:21.777',
 '2018-06-15 05:47:39.430',
 '2018-06-15 05:20:48.856',
 '2018-06-15 04:58:10.605',
 '2018-06-15 06:16:52.188',
 '2018-06-15 06:28:12.671',
 '2018-06-15 06:43:58.985',
 '2018-06-15 06:39:25.404',
 '2018-06-15 05:50:53.384',
 '2018-06-15 06:38:24.944',
 '2018-06-15 06:38:24.944',
 '2018-06-15 06:57:54.244',
 '2018-06-15 06:40:51.059',
 '2018-06-15 06:38:24.944',
 '2018-06-15 06:41:45.156',
 '2018-06-15 06:27:49.915',
 '2018-06-15 05:06:42.624',
 '2018-06-15 05:18:16.567',
 '2018-06-15 05:00:57.270',
 '2018-06-15 06:03:22.627',
 '2018-06-15 06:40:51.059',
 '2018-06-15 06:27:49.915',
 '2018-06-15 06:45:05.609',
 '2018-06-15 06:41:47.868',
 '2018-06-15 06:26:51.802',
 '2018-06-15 06:34:41.875',
 '2018-06-15 06:21:39.133',
 '2018-06-15 06:43:58.985',
 '2018-06-15 06:28:12.671',
 '2018-06-15 06:49:53.254',
 '2018-06-15 06:22:35.644',
 '2018-06-15 06:21:52.396',
 '2018-06-15 06:23:55.580',
 '2018-06-15 06:27:48.421',
 '2018-06-15 06:21:01.060',
 '2018-06-15 06:38:07.410',
 '2018-06-15 05:50:53.384',
 '2018-06-15 05:50:31.316',
 '2018-06-15 04:51:21.777',
 '2018-06-15 06:03:22.627',
 '2018-06-15 05:49:44.599',
 '2018-06-15 05:45:59.446',
 '2018-06-15 06:27:48.421',
 '2018-06-15 06:44:48.330',
 '2018-06-15 06:17:25.860',
 '2018-06-15 05:59:24.274',
 '2018-06-15 06:26:06.421',
 '2018-06-15 05:59:24.274',
 '2018-06-15 06:45:05.609',
 '2018-06-15 05:59:24.274',
 '2018-06-15 06:46:14.303',
 '2018-06-15 06:51:49.801',
 '2018-06-15 06:40:08.870',
 '2018-06-15 06:41:56.475',
 '2018-06-15 06:21:01.060',
 '2018-06-15 06:57:54.244',
 '2018-06-15 06:37:16.301',
 '2018-06-15 06:43:53.068',
 '2018-06-15 05:18:16.567',
 '2018-06-15 05:50:53.384',
 '2018-06-15 04:54:57.164',
 '2018-06-15 05:51:19.319',
 '2018-06-15 06:29:01.656',
 '2018-06-15 06:44:41.762',
 '2018-06-15 06:41:47.868',
 '2018-06-15 06:27:49.915',
 '2018-06-15 06:50:17.154',
 '2018-06-15 06:44:56.961',
 '2018-06-15 06:16:36.959',
 '2018-06-15 06:31:59.123',
 '2018-06-15 06:47:21.921',
 '2018-06-15 06:49:22.769',
 '2018-06-15 05:44:11.551',
 '2018-06-15 05:03:33.485',
 '2018-06-15 05:00:37.228',
 '2018-06-15 06:03:22.627',
 '2018-06-15 05:02:17.716',
 '2018-06-15 06:16:52.188',
 '2018-06-15 06:50:17.154',
 '2018-06-15 06:57:21.797',
 '2018-06-15 06:29:01.656',
 '2018-06-15 06:56:02.942',
 '2018-06-15 06:21:27.541',
 '2018-06-15 06:23:46.153',
 '2018-06-15 05:50:53.384',
 '2018-06-15 04:51:21.777',
 '2018-06-15 06:03:22.627',
 '2018-06-15 05:00:16.784',
 '2018-06-15 06:34:41.875',
 '2018-06-15 06:30:31.497',
 '2018-06-15 06:19:43.491',
 '2018-06-15 05:00:37.228',
 '2018-06-15 04:51:21.777',
 '2018-06-15 05:03:33.485',
 '2018-06-15 05:50:53.384',
 '2018-06-15 05:08:28.448',
 '2018-06-15 05:18:16.567',
 '2018-06-15 06:41:45.156',
 '2018-06-15 06:44:53.857',
 '2018-06-15 06:41:45.156',
 '2018-06-15 06:39:27.044',
 '2018-06-15 06:19:54.751',
 '2018-06-15 06:26:51.802',
 '2018-06-15 06:57:21.797',
 '2018-06-15 06:41:56.475',
 '2018-06-15 04:57:25.489',
 '2018-06-15 05:29:50.970',
 '2018-06-15 05:34:00.709',
 '2018-06-15 06:03:22.627',
 '2018-06-15 05:49:44.599',
 '2018-06-15 06:20:19.984',
 '2018-06-15 06:27:49.915',
 '2018-06-15 06:29:01.656',
 '2018-06-15 06:48:46.867',
 '2018-06-15 06:41:45.156',
 '2018-06-15 06:07:42.855',
 '2018-06-15 06:27:02.464',
 '2018-06-15 05:18:16.567',
 '2018-06-15 05:18:16.567',
 '2018-06-15 05:21:35.476',
 '2018-06-15 05:03:33.485',
 '2018-06-15 05:03:33.485',
 '2018-06-15 05:26:23.367',
 '2018-06-15 05:03:33.485',
 '2018-06-15 06:29:01.656',
 '2018-06-15 06:17:25.860',
 '2018-06-15 06:41:45.156',
 '2018-06-15 06:06:59.705',
 '2018-06-15 06:44:56.961',
 '2018-06-15 06:43:24.035',
 '2018-06-15 05:45:27.673',
 '2018-06-15 05:50:53.384',
 '2018-06-15 04:51:21.777',
 '2018-06-15 05:18:16.567',
 '2018-06-15 05:18:16.567',
 '2018-06-15 05:21:08.926',
 '2018-06-15 06:41:47.868',
 '2018-06-15 06:06:20.333',
 '2018-06-15 06:57:21.797',
 '2018-06-15 06:15:35.550',
 '2018-06-15 06:15:47.848',
 '2018-06-15 06:38:57.578',
 '2018-06-15 06:29:01.656',
 '2018-06-15 05:50:53.384',
 '2018-06-15 06:21:36.786',
 '2018-06-15 06:27:49.915',
 '2018-06-15 05:50:53.384',
 '2018-06-15 05:01:52.930',
 '2018-06-15 05:51:19.319',
 '2018-06-15 05:18:16.567',
 '2018-06-15 06:00:19.150',
 '2018-06-15 05:24:53.274',
 '2018-06-15 05:21:37.464',
 '2018-06-15 06:02:28.386',
 '2018-06-15 05:18:16.567',
 '2018-06-15 05:05:06.267',
 '2018-06-15 06:29:01.656',
 '2018-06-15 06:07:42.855',
 '2018-06-15 06:21:52.396',
 '2018-06-15 06:07:42.855',
 '2018-06-15 06:43:16.595',
 '2018-06-15 06:44:41.762',
 '2018-06-15 06:39:06.934',
 '2018-06-15 06:18:13.198',
 '2018-06-15 06:07:42.855',
 '2018-06-15 06:07:42.855',
 '2018-06-15 06:15:48.284',
 '2018-06-15 06:44:56.961',
 '2018-06-15 06:58:30.947',
 '2018-06-15 06:19:54.751',
 '2018-06-15 06:27:02.464',
 '2018-06-15 06:03:22.627',
 '2018-06-15 05:49:44.599',
 '2018-06-15 05:00:16.784',
 '2018-06-15 04:59:13.230',
 '2018-06-15 05:51:19.319',
 '2018-06-15 04:57:28.173',
 '2018-06-15 00:21:57.730',
 '2018-06-15 05:00:57.270',
 '2018-06-15 06:45:05.609',
 '2018-06-15 06:39:06.934',
 '2018-06-15 06:37:07.104',
 '2018-06-15 06:21:05.967',
 '2018-06-15 06:18:52.986',
 '2018-06-15 06:45:10.783',
 '2018-06-15 06:19:43.491',
 '2018-06-15 06:23:31.743',
 '2018-06-15 05:46:17.630',
 '2018-06-15 06:03:10.901',
 '2018-06-15 05:00:16.784',
 '2018-06-15 05:50:56',
 '2018-06-15 05:59:24.274',
 '2018-06-15 06:06:20.333',
 '2018-06-15 05:50:53.384',
 '2018-06-15 06:44:48.330',
 '2018-06-15 06:49:41.995',
 '2018-06-15 06:44:56.961',
 '2018-06-15 06:27:02.464',
 '2018-06-15 05:45:59.446',
 '2018-06-15 05:19:39.980',
 '2018-06-15 06:43:16.595',
 '2018-06-15 06:45:10.783',
 '2018-06-15 06:39:06.934',
 '2018-06-15 05:46:01.108',
 '2018-06-15 05:11:25.214',
 '2018-06-15 05:27:46.852',
 '2018-06-15 05:03:03.514',
 '2018-06-15 05:07:10.987',
 '2018-06-15 05:12:25.031',
 '2018-06-15 05:42:11.203',
 '2018-06-15 05:10:42.158',
 '2018-06-15 05:30:38.458',
 '2018-06-15 06:23:52.854',
 '2018-06-10 12:22:59.420',
 '2018-06-15 06:50:59.715',
 '2018-06-15 06:16:46.084',
 '2018-06-15 06:50:51.874',
 '2018-06-15 06:04:58.853',
 '2018-06-15 06:18:09.468',
 '2018-06-15 06:36:29.827',
 '2018-06-15 06:16:58.989',
 '2018-06-15 06:18:09.468',
 '2018-06-15 06:40:16.908',
 '2018-06-15 06:21:02.405',
 '2018-06-15 06:53:41.665',
 '2018-06-15 06:43:42.376',
 '2018-06-15 06:39:16.412',
 '2018-06-15 06:36:29.827',
 '2018-06-15 06:52:54.976',
 '2018-06-15 06:11:25.130',
 '2018-06-15 06:48:50.174',
 '2018-06-15 06:16:12.424',
 '2018-06-15 06:24:44.254',
 '2018-06-15 06:52:54.976',
 '2018-06-15 06:39:16.412',
 '2018-06-15 06:18:09.468',
 '2018-06-15 06:30:27.226',
 '2018-06-15 06:59:04.617',
 '2018-06-15 06:18:09.468',
 '2018-06-15 06:18:49.385',
 '2018-06-15 05:43:00.144',
 '2018-06-15 05:15:24.337',
 '2018-06-15 05:12:54.692',
 '2018-06-15 05:17:51.894',
 '2018-06-15 05:22:18.560',
 '2018-06-15 05:29:49.184',
 '2018-06-15 06:56:48.385',
 '2018-06-15 06:48:19.600',
 '2018-06-15 06:49:57.272',
 '2018-06-15 06:52:54.976',
 '2018-06-15 06:45:26.291',
 '2018-06-15 06:08:53.497',
 '2018-06-15 06:52:04.922',
 '2018-06-15 06:04:58.853',
 '2018-06-15 06:41:51.135',
 '2018-06-15 06:47:36.156',
 '2018-06-15 06:10:25.755',
 '2018-06-15 06:52:32.821',
 '2018-06-15 06:57:12.439',
 '2018-06-15 06:36:29.827',
 '2018-06-15 06:09:56.036',
 '2018-06-15 06:48:19.600',
 '2018-06-14 07:26:56.943',
 '2018-06-15 06:49:57.272',
 '2018-06-15 06:41:51.135',
 '2018-06-15 06:16:12.424',
 '2018-06-15 06:33:13.927',
 '2018-06-15 06:15:07.326',
 '2018-06-15 06:53:58.315',
 '2018-06-15 06:41:51.135',
 '2018-06-15 05:12:16.164',
 '2018-06-15 05:29:49.184',
 '2018-06-15 05:37:35.715',
 '2018-06-15 05:12:16.164',
 '2018-06-15 05:42:11.203',
 '2018-06-15 05:27:46.852',
 '2018-06-15 05:46:01.108',
 '2018-06-15 05:15:24.337',
 '2018-06-15 05:11:25.214',
 '2018-06-15 05:01:05.012',
 '2018-06-15 05:42:31',
 '2018-06-15 05:15:24.337',
 '2018-06-15 06:24:28.076',
 '2018-06-15 06:08:12.096',
 '2018-06-15 06:53:15.011',
 '2018-06-15 06:52:54.976',
 '2018-06-13 18:53:29.453',
 '2018-06-15 06:30:27.226',
 '2018-06-15 06:11:17.124',
 '2018-06-15 06:52:54.976',
 '2018-06-15 06:24:44.254',
 '2018-06-15 06:51:12.404',
 '2018-06-15 06:55:42.877',
 '2018-06-15 06:53:15.011',
 '2018-06-15 06:56:41.140',
 '2018-06-15 06:04:58.853',
 '2018-06-15 06:15:07.326',
 '2018-06-15 06:50:24.696',
 '2018-06-15 06:46:25.541',
 '2018-06-15 06:50:24.696',
 '2018-06-15 06:58:17.186',
 '2018-06-15 05:15:24.337',
 '2018-06-15 04:55:20.167',
 '2018-06-15 05:27:46.852',
 '2018-06-15 05:15:24.337',
 '2018-06-15 06:00:05.124',
 '2018-06-15 05:29:49.184',
 '2018-06-15 05:36:54.530',
 '2018-06-15 05:39:45.116',
 '2018-06-15 05:15:24.337',
 '2018-06-15 06:54:34.123',
 '2018-06-15 06:21:05.807',
 '2018-06-15 06:52:54.976',
 '2018-06-15 06:55:18.427',
 '2018-06-15 06:54:18.408',
 '2018-06-15 06:50:24.696',
 '2018-06-15 06:50:51.874',
 '2018-06-15 06:45:05.804',
 '2018-06-15 06:49:57.272',
 '2018-06-15 06:21:05.807',
 '2018-06-15 06:44:42.749',
 '2018-06-15 06:04:58.853',
 '2018-06-13 18:53:29.453',
 '2018-06-15 06:56:41.140',
 '2018-06-15 06:33:13.927',
 '2018-06-15 04:54:11.227',
 '2018-06-15 06:02:12.010',
 '2018-06-15 06:00:05.124',
 '2018-06-15 06:04:07.865',
 '2018-06-15 06:54:34.123',
 '2018-06-15 06:18:09.468',
 '2018-06-15 06:56:08.245',
 '2018-06-15 06:53:15.011',
 '2018-06-15 06:11:25.130',
 '2018-06-15 06:18:09.468',
 '2018-06-15 06:21:59.141',
 '2018-06-15 06:45:05.804',
 '2018-06-15 06:11:25.130',
 '2018-06-15 06:18:09.468',
 '2018-06-15 06:18:09.468',
 '2018-06-15 06:18:09.468',
 '2018-06-15 06:52:39.275',
 '2018-06-15 06:50:24.696',
 '2018-06-15 06:28:13.082',
 '2018-06-15 06:19:41.209',
 '2018-06-15 06:18:09.468',
 '2018-06-15 06:00:05.124',
 '2018-06-15 05:10:36.287',
 '2018-06-15 05:12:16.164',
 '2018-06-15 04:54:11.227',
 '2018-06-15 05:15:24.337',
 '2018-06-15 06:02:12.010',
 '2018-06-15 06:03:01.288',
 '2018-06-15 05:46:01.108',
 '2018-06-15 06:36:29.827',
 '2018-06-15 06:55:42.877',
 '2018-06-15 06:44:18.058',
 '2018-06-15 06:22:33.089',
 '2018-06-15 06:15:02.724',
 '2018-06-15 05:14:17.942',
 '2018-06-15 05:14:17.942',
 '2018-06-15 05:17:51.894',
 '2018-06-15 06:00:21.421',
 '2018-06-15 04:55:01.245',
 '2018-06-15 05:35:38.532',
 '2018-06-15 05:35:38.532',
 '2018-06-15 06:55:42.877',
 '2018-06-15 06:22:31.191',
 '2018-06-15 06:16:31.451',
 '2018-06-15 06:53:41.665',
 '2018-06-15 06:16:46.084',
 '2018-06-15 06:08:12.096',
 '2018-06-15 06:16:46.084',
 '2018-06-15 06:36:29.827',
 '2018-06-15 05:15:24.337',
 '2018-06-15 05:28:07.871',
 '2018-06-15 05:11:25.214',
 '2018-06-15 05:28:07.871',
 '2018-06-15 06:56:08.245',
 '2018-06-15 06:36:29.827',
 '2018-06-15 06:15:07.326',
 '2018-06-15 06:50:24.696',
 '2018-06-15 06:52:54.976',
 '2018-06-15 06:16:43.508',
 '2018-06-15 06:04:07.865',
 '2018-06-15 06:16:43.508',
 '2018-06-15 06:51:48.267',
 '2018-06-15 06:55:18.427',
 '2018-06-15 06:23:18.262',
 '2018-06-15 05:22:50.499',
 '2018-06-15 06:54:34.123',
 '2018-06-15 06:16:31.451',
 '2018-06-15 06:45:42.217',
 '2018-06-15 06:24:18.355',
 '2018-06-15 06:11:59.684',
 '2018-06-15 06:55:18.427',
 '2018-06-15 06:54:34.123',
 '2018-06-15 05:53:14.033',
 '2018-06-15 06:03:54.913',
 '2018-06-15 06:45:26.291',
 '2018-06-15 06:55:18.427',
 '2018-06-15 06:52:54.976',
 '2018-06-15 05:42:49.169',
 '2018-06-15 06:00:21.421',
 '2018-06-15 05:27:46.852',
 '2018-06-15 05:48:39.781',
 '2018-06-15 05:26:00.764',
 '2018-06-15 06:44:42.749',
 '2018-06-15 06:22:33.089',
 '2018-06-13 18:53:54.585',
 '2018-06-15 06:56:41.140',
 '2018-06-15 06:50:18.366',
 '2018-06-15 06:51:45.573',
 '2018-06-15 05:15:24.337',
 '2018-06-15 05:12:11.923',
 '2018-06-15 05:36:14.500',
 '2018-06-15 06:03:49.965',
 '2018-06-15 05:35:48.165',
 '2018-06-15 05:36:54.530',
 '2018-06-15 05:35:48.165',
 '2018-06-15 06:03:54.913',
 '2018-06-15 06:50:24.696',
 '2018-06-15 06:56:08.245',
 '2018-06-15 06:50:51.874',
 '2018-06-15 06:50:18.366',
 '2018-06-15 06:56:23.735',
 '2018-06-15 06:11:25.551',
 '2018-06-15 06:15:14.050',
 '2018-06-15 06:36:29.827',
 '2018-06-15 06:32:04.252',
 '2018-06-15 06:11:25.551',
 '2018-06-15 06:16:39.921',
 '2018-06-15 05:39:45.116',
 '2018-06-15 05:11:25.214',
 '2018-06-14 16:30:33.370',
 '2018-06-15 06:00:05.124',
 '2018-06-15 05:01:05.012',
 '2018-06-15 06:21:02.405',
 '2018-06-15 06:36:29.827',
 '2018-06-15 06:16:31.451',
 '2018-06-15 06:33:16.687',
 '2018-06-15 06:56:08.245',
 '2018-06-15 06:27:42.487',
 '2018-06-15 06:22:31.191',
 '2018-06-15 05:38:45.569',
 '2018-06-15 05:28:07.871',
 '2018-06-15 05:27:16.110',
 '2018-06-15 05:42:31',
 '2018-06-15 06:53:41.665',
 '2018-06-15 06:16:46.084',
 '2018-06-15 06:48:49.319',
 '2018-06-15 06:48:56.573',
 '2018-06-15 06:16:46.084',
 '2018-06-15 06:53:15.011',
 '2018-06-15 06:56:08.245',
 '2018-06-15 06:50:24.696',
 '2018-06-15 06:16:46.084',
 '2018-06-15 06:02:12.010',
 '2018-06-15 05:42:57.874',
 '2018-06-15 05:39:00.651',
 '2018-06-15 06:16:31.451',
 '2018-06-15 06:52:01.556',
 '2018-06-15 06:51:13.742',
 '2018-06-15 06:56:05.833',
 '2018-06-15 05:36:14.500',
 '2018-06-15 05:36:14.500',
 '2018-06-15 05:35:48.165',
 '2018-06-15 06:00:09.951',
 '2018-06-15 06:03:01.288',
 '2018-06-15 06:55:42.877',
 '2018-06-15 06:28:13.082',
 '2018-06-15 06:56:08.245',
 '2018-06-15 05:45:29.685',
 '2018-06-15 05:45:29.685',
 '2018-06-15 05:10:36.287',
 '2018-06-15 05:11:25.214',
 '2018-06-15 05:10:36.287',
 '2018-06-15 05:17:45.625',
 '2018-06-15 05:42:31',
 '2018-06-15 05:10:36.287',
 '2018-06-15 05:54:12.456',
 '2018-06-15 06:16:46.084',
 '2018-06-15 06:04:46.369',
 '2018-06-15 06:50:18.366',

In [153]:
EX_date = list(tg['search_timestamp'])
EX_date

['2018-06-15 05:18:07.583',
 '2018-06-15 05:19:08.797',
 '2018-06-15 05:31:59.616',
 '2018-06-15 05:18:07.583',
 '2018-06-15 05:57:32.540',
 '2018-06-15 06:50:18.501',
 '2018-06-15 06:51:54.662',
 '2018-06-15 06:57:57.139',
 '2018-06-15 06:48:35.378',
 '2018-06-15 06:55:27.580',
 '2018-06-15 06:55:36.720',
 '2018-06-15 06:05:25.187',
 '2018-06-15 05:28:38.627',
 '2018-06-15 06:00:39.947',
 '2018-06-15 05:31:59.616',
 '2018-06-15 05:07:05.399',
 '2018-06-15 05:57:32.540',
 '2018-06-15 06:13:24.190',
 '2018-06-15 06:12:04.055',
 '2018-06-15 06:40:59.195',
 '2018-06-15 06:04:58.777',
 '2018-06-15 06:52:54.955',
 '2018-06-15 06:55:27.580',
 '2018-06-15 06:52:54.949',
 '2018-06-15 06:09:21.615',
 '2018-06-15 06:25:31.764',
 '2018-06-15 06:47:40.858',
 '2018-06-15 06:55:27.603',
 '2018-06-15 06:39:58.347',
 '2018-06-15 06:55:27.580',
 '2018-06-15 06:55:27.580',
 '2018-06-15 05:54:21.627',
 '2018-06-15 05:18:07.583',
 '2018-06-15 06:25:31.707',
 '2018-06-15 06:14:07.316',
 '2018-06-15 06:55:27.603',
 '2018-06-15 05:31:59.616',
 '2018-06-15 06:30:15.819',
 '2018-06-15 06:30:15.819',
 '2018-06-15 06:51:54.662',
 '2018-06-15 06:30:15.819',
 '2018-06-15 05:46:09.194',
 '2018-06-15 06:13:42.485',
 '2018-06-15 06:44:40.568',
 '2018-06-15 06:36:58.426',
 '2018-06-15 06:23:10.180',
 '2018-06-15 06:14:04.354',
 '2018-06-15 06:35:10.253',
 '2018-06-15 06:35:10.253',
 '2018-06-15 06:36:58.426',
 '2018-06-15 06:32:50.071',
 '2018-06-15 05:21:35.476',
 '2018-06-15 06:01:22.046',
 '2018-06-15 05:02:16.235',
 '2018-06-15 05:48:48.259',
 '2018-06-15 05:27:46.084',
 '2018-06-15 05:27:46.084',
 '2018-06-15 05:20:48.856',
 '2018-06-15 05:27:46.084',
 '2018-06-15 05:20:06.729',
 '2018-06-15 05:45:27.673',
 '2018-06-15 05:38:38.654',
 '2018-06-15 05:33:10.253',
 '2018-06-15 05:00:57.270',
 '2018-06-15 05:18:17.318',
 '2018-06-15 05:20:23.956',
 '2018-06-15 05:56:04.019',
 '2018-06-15 06:23:46.153',
 '2018-06-15 06:38:35.486',
 '2018-06-15 06:54:41.020',
 '2018-06-15 06:27:49.915',
 '2018-06-15 06:09:22.283',
 '2018-06-15 06:51:28.842',
 '2018-06-15 06:35:57.840',
 '2018-06-15 06:09:22.283',
 '2018-06-15 06:12:12.967',
 '2018-06-15 06:15:23.834',
 '2018-06-15 06:21:05.967',
 '2018-06-15 06:21:08.355',
 '2018-06-15 06:40:07.439',
 '2018-06-15 06:40:07.439',
 '2018-06-15 06:21:39.133',
 '2018-06-15 06:17:54.283',
 '2018-06-15 06:38:24.944',
 '2018-06-15 06:31:59.123',
 '2018-06-15 06:28:56.032',
 '2018-06-15 06:42:00.502',
 '2018-06-15 05:41:30.428',
 '2018-06-15 05:41:30.428',
 '2018-06-15 04:59:13.230',
 '2018-06-15 05:21:35.476',
 '2018-06-15 05:21:35.476',
 '2018-06-15 05:20:48.856',
 '2018-06-15 05:26:01.713',
 '2018-06-15 05:27:46.084',
 '2018-06-15 05:19:26.302',
 '2018-06-15 05:27:46.084',
 '2018-06-15 06:27:49.915',
 '2018-06-15 06:48:49.841',
 '2018-06-15 06:23:06.477',
 '2018-06-15 06:31:24.321',
 '2018-06-15 06:27:23.609',
 '2018-06-15 06:20:20.542',
 '2018-06-15 06:26:51.802',
 '2018-06-15 06:11:32.408',
 '2018-06-15 06:31:24.321',
 '2018-06-15 06:45:55.193',
 '2018-06-15 06:20:19.984',
 '2018-06-15 06:45:05.609',
 '2018-06-15 06:17:54.283',
 '2018-06-15 06:15:47.848',
 '2018-06-15 06:50:40.577',
 '2018-06-15 06:50:20.991',
 '2018-06-15 06:45:55.193',
 '2018-06-15 06:40:07.439',
 '2018-06-15 06:23:55.580',
 '2018-06-15 06:50:20.991',
 '2018-06-15 06:09:22.283',
 '2018-06-15 06:15:23.834',
 '2018-06-15 05:20:48.856',
 '2018-06-15 05:08:28.448',
 '2018-06-15 05:20:48.856',
 '2018-06-15 05:41:30.428',
 '2018-06-15 05:20:48.856',
 '2018-06-15 05:41:30.428',
 '2018-06-15 05:20:48.856',
 '2018-06-15 05:18:16.567',
 '2018-06-15 05:19:39.980',
 '2018-06-15 05:58:24.240',
 '2018-06-15 04:57:28.707',
 '2018-06-15 05:41:30.428',
 '2018-06-15 06:40:25.593',
 '2018-06-15 06:26:51.802',
 '2018-06-15 06:20:50.907',
 '2018-06-15 06:12:50.147',
 '2018-06-15 06:27:49.915',
 '2018-06-15 06:27:49.915',
 '2018-06-15 06:43:16.595',
 '2018-06-15 06:20:20.542',
 '2018-06-15 06:45:55.193',
 '2018-06-15 06:45:55.193',
 '2018-06-15 05:02:17.716',
 '2018-06-15 05:41:30.428',
 '2018-06-15 05:18:17.318',
 '2018-06-15 05:48:48.259',
 '2018-06-15 05:21:35.476',
 '2018-06-15 05:47:39.430',
 '2018-06-15 05:27:46.084',
 '2018-06-15 05:45:59.446',
 '2018-06-15 06:29:01.656',
 '2018-06-15 06:07:48.390',
 '2018-06-15 06:17:25.860',
 '2018-06-15 06:41:47.868',
 '2018-06-15 06:58:07.354',
 '2018-06-15 06:17:25.860',
 '2018-06-15 06:26:29.288',
 '2018-06-15 06:23:55.580',
 '2018-06-15 06:26:29.288',
 '2018-06-15 06:26:51.802',
 '2018-06-15 06:21:36.786',
 '2018-06-15 06:37:08.361',
 '2018-06-15 06:23:55.580',
 '2018-06-15 06:23:06.477',
 '2018-06-15 06:20:20.542',
 '2018-06-15 06:38:24.944',
 '2018-06-15 06:09:22.283',
 '2018-06-15 06:12:13.154',
 '2018-06-15 06:28:12.671',
 '2018-06-15 06:20:16.022',
 '2018-06-15 05:59:24.274',
 '2018-06-15 06:48:24.348',
 '2018-06-15 05:18:16.567',
 '2018-06-15 06:00:19.150',
 '2018-06-15 05:46:39.823',
 '2018-06-15 05:45:59.446',
 '2018-06-15 06:00:19.150',
 '2018-06-15 05:51:19.319',
 '2018-06-15 05:21:35.476',
 '2018-06-15 05:27:46.084',
 '2018-06-15 05:00:16.784',
 '2018-06-15 06:20:20.542',
 '2018-06-15 06:29:28.363',
 '2018-06-15 06:16:52.188',
 '2018-06-15 06:16:52.188',
 '2018-06-15 06:50:17.154',
 '2018-06-15 06:40:25.593',
 '2018-06-15 06:20:20.542',
 '2018-06-15 06:20:20.542',
 '2018-06-15 06:41:15.819',
 '2018-06-15 06:35:57.840',
 '2018-06-15 06:58:38.607',
 '2018-06-15 06:29:01.656',
 '2018-06-15 06:41:33.645',
 '2018-06-15 06:22:35.644',
 '2018-06-15 06:27:49.915',
 '2018-06-15 05:00:57.270',
 '2018-06-15 05:49:44.599',
 '2018-06-15 05:21:35.476',
 '2018-06-15 05:02:17.716',
 '2018-06-15 05:56:04.019',
 '2018-06-15 05:51:46.653',
 '2018-06-15 05:50:56',
 '2018-06-15 05:06:42.624',
 '2018-06-15 05:00:14.452',
 '2018-06-15 05:19:39.980',
 '2018-06-15 06:15:23.834',
 '2018-06-15 06:19:43.491',
 '2018-06-15 06:41:23.644',
 '2018-06-15 06:12:12.967',
 '2018-06-15 06:41:56.475',
 '2018-06-15 06:27:49.915',
 '2018-06-15 06:17:25.860',
 '2018-06-15 06:27:48.421',
 '2018-06-15 06:27:49.915',
 '2018-06-15 06:27:49.915',
 '2018-06-15 06:41:45.156',
 '2018-06-15 06:29:01.656',
 '2018-06-15 05:53:54.267',
 '2018-06-15 05:26:23.367',
 '2018-06-15 05:06:42.624',
 '2018-06-15 06:00:19.150',
 '2018-06-15 05:19:39.980',
 '2018-06-15 05:18:16.567',
 '2018-06-15 05:20:48.856',
 '2018-06-15 06:40:40.977',
 '2018-06-15 06:46:30.911',
 '2018-06-15 06:27:49.915',
 '2018-06-15 06:29:01.656',
 '2018-06-15 06:36:40.799',
 '2018-06-15 06:58:07.354',
 '2018-06-15 06:06:20.333',
 '2018-06-15 04:51:21.777',
 '2018-06-15 05:47:39.430',
 '2018-06-15 05:20:48.856',
 '2018-06-15 04:58:10.605',
 '2018-06-15 06:16:52.188',
 '2018-06-15 06:28:12.671',
 '2018-06-15 06:43:58.985',
 '2018-06-15 06:39:25.404',
 '2018-06-15 05:50:53.384',
 '2018-06-15 06:38:24.944',
 '2018-06-15 06:38:24.944',
 '2018-06-15 06:57:54.244',
 '2018-06-15 06:40:51.059',
 '2018-06-15 06:38:24.944',
 '2018-06-15 06:41:45.156',
 '2018-06-15 06:27:49.915',
 '2018-06-15 05:06:42.624',
 '2018-06-15 05:18:16.567',
 '2018-06-15 05:00:57.270',
 '2018-06-15 06:03:22.627',
 '2018-06-15 06:40:51.059',
 '2018-06-15 06:27:49.915',
 '2018-06-15 06:45:05.609',
 '2018-06-15 06:41:47.868',
 '2018-06-15 06:26:51.802',
 '2018-06-15 06:34:41.875',
 '2018-06-15 06:21:39.133',
 '2018-06-15 06:43:58.985',
 '2018-06-15 06:28:12.671',
 '2018-06-15 06:49:53.254',
 '2018-06-15 06:22:35.644',
 '2018-06-15 06:21:52.396',
 '2018-06-15 06:23:55.580',
 '2018-06-15 06:27:48.421',
 '2018-06-15 06:21:01.060',
 '2018-06-15 06:38:07.410',
 '2018-06-15 05:50:53.384',
 '2018-06-15 05:50:31.316',
 '2018-06-15 04:51:21.777',
 '2018-06-15 06:03:22.627',
 '2018-06-15 05:49:44.599',
 '2018-06-15 05:45:59.446',
 '2018-06-15 06:27:48.421',
 '2018-06-15 06:44:48.330',
 '2018-06-15 06:17:25.860',
 '2018-06-15 05:59:24.274',
 '2018-06-15 06:26:06.421',
 '2018-06-15 05:59:24.274',
 '2018-06-15 06:45:05.609',
 '2018-06-15 05:59:24.274',
 '2018-06-15 06:46:14.303',
 '2018-06-15 06:51:49.801',
 '2018-06-15 06:40:08.870',
 '2018-06-15 06:41:56.475',
 '2018-06-15 06:21:01.060',
 '2018-06-15 06:57:54.244',
 '2018-06-15 06:37:16.301',
 '2018-06-15 06:43:53.068',
 '2018-06-15 05:18:16.567',
 '2018-06-15 05:50:53.384',
 '2018-06-15 04:54:57.164',
 '2018-06-15 05:51:19.319',
 '2018-06-15 06:29:01.656',
 '2018-06-15 06:44:41.762',
 '2018-06-15 06:41:47.868',
 '2018-06-15 06:27:49.915',
 '2018-06-15 06:50:17.154',
 '2018-06-15 06:44:56.961',
 '2018-06-15 06:16:36.959',
 '2018-06-15 06:31:59.123',
 '2018-06-15 06:47:21.921',
 '2018-06-15 06:49:22.769',
 '2018-06-15 05:44:11.551',
 '2018-06-15 05:03:33.485',
 '2018-06-15 05:00:37.228',
 '2018-06-15 06:03:22.627',
 '2018-06-15 05:02:17.716',
 '2018-06-15 06:16:52.188',
 '2018-06-15 06:50:17.154',
 '2018-06-15 06:57:21.797',
 '2018-06-15 06:29:01.656',
 '2018-06-15 06:56:02.942',
 '2018-06-15 06:21:27.541',
 '2018-06-15 06:23:46.153',
 '2018-06-15 05:50:53.384',
 '2018-06-15 04:51:21.777',
 '2018-06-15 06:03:22.627',
 '2018-06-15 05:00:16.784',
 '2018-06-15 06:34:41.875',
 '2018-06-15 06:30:31.497',
 '2018-06-15 06:19:43.491',
 '2018-06-15 05:00:37.228',
 '2018-06-15 04:51:21.777',
 '2018-06-15 05:03:33.485',
 '2018-06-15 05:50:53.384',
 '2018-06-15 05:08:28.448',
 '2018-06-15 05:18:16.567',
 '2018-06-15 06:41:45.156',
 '2018-06-15 06:44:53.857',
 '2018-06-15 06:41:45.156',
 '2018-06-15 06:39:27.044',
 '2018-06-15 06:19:54.751',
 '2018-06-15 06:26:51.802',
 '2018-06-15 06:57:21.797',
 '2018-06-15 06:41:56.475',
 '2018-06-15 04:57:25.489',
 '2018-06-15 05:29:50.970',
 '2018-06-15 05:34:00.709',
 '2018-06-15 06:03:22.627',
 '2018-06-15 05:49:44.599',
 '2018-06-15 06:20:19.984',
 '2018-06-15 06:27:49.915',
 '2018-06-15 06:29:01.656',
 '2018-06-15 06:48:46.867',
 '2018-06-15 06:41:45.156',
 '2018-06-15 06:07:42.855',
 '2018-06-15 06:27:02.464',
 '2018-06-15 05:18:16.567',
 '2018-06-15 05:18:16.567',
 '2018-06-15 05:21:35.476',
 '2018-06-15 05:03:33.485',
 '2018-06-15 05:03:33.485',
 '2018-06-15 05:26:23.367',
 '2018-06-15 05:03:33.485',
 '2018-06-15 06:29:01.656',
 '2018-06-15 06:17:25.860',
 '2018-06-15 06:41:45.156',
 '2018-06-15 06:06:59.705',
 '2018-06-15 06:44:56.961',
 '2018-06-15 06:43:24.035',
 '2018-06-15 05:45:27.673',
 '2018-06-15 05:50:53.384',
 '2018-06-15 04:51:21.777',
 '2018-06-15 05:18:16.567',
 '2018-06-15 05:18:16.567',
 '2018-06-15 05:21:08.926',
 '2018-06-15 06:41:47.868',
 '2018-06-15 06:06:20.333',
 '2018-06-15 06:57:21.797',
 '2018-06-15 06:15:35.550',
 '2018-06-15 06:15:47.848',
 '2018-06-15 06:38:57.578',
 '2018-06-15 06:29:01.656',
 '2018-06-15 05:50:53.384',
 '2018-06-15 06:21:36.786',
 '2018-06-15 06:27:49.915',
 '2018-06-15 05:50:53.384',
 '2018-06-15 05:01:52.930',
 '2018-06-15 05:51:19.319',
 '2018-06-15 05:18:16.567',
 '2018-06-15 06:00:19.150',
 '2018-06-15 05:24:53.274',
 '2018-06-15 05:21:37.464',
 '2018-06-15 06:02:28.386',
 '2018-06-15 05:18:16.567',
 '2018-06-15 05:05:06.267',
 '2018-06-15 06:29:01.656',
 '2018-06-15 06:07:42.855',
 '2018-06-15 06:21:52.396',
 '2018-06-15 06:07:42.855',
 '2018-06-15 06:43:16.595',
 '2018-06-15 06:44:41.762',
 '2018-06-15 06:39:06.934',
 '2018-06-15 06:18:13.198',
 '2018-06-15 06:07:42.855',
 '2018-06-15 06:07:42.855',
 '2018-06-15 06:15:48.284',
 '2018-06-15 06:44:56.961',
 '2018-06-15 06:58:30.947',
 '2018-06-15 06:19:54.751',
 '2018-06-15 06:27:02.464',
 '2018-06-15 06:03:22.627',
 '2018-06-15 05:49:44.599',
 '2018-06-15 05:00:16.784',
 '2018-06-15 04:59:13.230',
 '2018-06-15 05:51:19.319',
 '2018-06-15 04:57:28.173',
 '2018-06-15 00:21:57.730',
 '2018-06-15 05:00:57.270',
 '2018-06-15 06:45:05.609',
 '2018-06-15 06:39:06.934',
 '2018-06-15 06:37:07.104',
 '2018-06-15 06:21:05.967',
 '2018-06-15 06:18:52.986',
 '2018-06-15 06:45:10.783',
 '2018-06-15 06:19:43.491',
 '2018-06-15 06:23:31.743',
 '2018-06-15 05:46:17.630',
 '2018-06-15 06:03:10.901',
 '2018-06-15 05:00:16.784',
 '2018-06-15 05:50:56',
 '2018-06-15 05:59:24.274',
 '2018-06-15 06:06:20.333',
 '2018-06-15 05:50:53.384',
 '2018-06-15 06:44:48.330',
 '2018-06-15 06:49:41.995',
 '2018-06-15 06:44:56.961',
 '2018-06-15 06:27:02.464',
 '2018-06-15 05:45:59.446',
 '2018-06-15 05:19:39.980',
 '2018-06-15 06:43:16.595',
 '2018-06-15 06:45:10.783',
 '2018-06-15 06:39:06.934',
 '2018-06-15 05:46:01.108',
 '2018-06-15 05:11:25.214',
 '2018-06-15 05:27:46.852',
 '2018-06-15 05:03:03.514',
 '2018-06-15 05:07:10.987',
 '2018-06-15 05:12:25.031',
 '2018-06-15 05:42:11.203',
 '2018-06-15 05:10:42.158',
 '2018-06-15 05:30:38.458',
 '2018-06-15 06:23:52.854',
 '2018-06-10 12:22:59.420',
 '2018-06-15 06:50:59.715',
 '2018-06-15 06:16:46.084',
 '2018-06-15 06:50:51.874',
 '2018-06-15 06:04:58.853',
 '2018-06-15 06:18:09.468',
 '2018-06-15 06:36:29.827',
 '2018-06-15 06:16:58.989',
 '2018-06-15 06:18:09.468',
 '2018-06-15 06:40:16.908',
 '2018-06-15 06:21:02.405',
 '2018-06-15 06:53:41.665',
 '2018-06-15 06:43:42.376',
 '2018-06-15 06:39:16.412',
 '2018-06-15 06:36:29.827',
 '2018-06-15 06:52:54.976',
 '2018-06-15 06:11:25.130',
 '2018-06-15 06:48:50.174',
 '2018-06-15 06:16:12.424',
 '2018-06-15 06:24:44.254',
 '2018-06-15 06:52:54.976',
 '2018-06-15 06:39:16.412',
 '2018-06-15 06:18:09.468',
 '2018-06-15 06:30:27.226',
 '2018-06-15 06:59:04.617',
 '2018-06-15 06:18:09.468',
 '2018-06-15 06:18:49.385',
 '2018-06-15 05:43:00.144',
 '2018-06-15 05:15:24.337',
 '2018-06-15 05:12:54.692',
 '2018-06-15 05:17:51.894',
 '2018-06-15 05:22:18.560',
 '2018-06-15 05:29:49.184',
 '2018-06-15 06:56:48.385',
 '2018-06-15 06:48:19.600',
 '2018-06-15 06:49:57.272',
 '2018-06-15 06:52:54.976',
 '2018-06-15 06:45:26.291',
 '2018-06-15 06:08:53.497',
 '2018-06-15 06:52:04.922',
 '2018-06-15 06:04:58.853',
 '2018-06-15 06:41:51.135',
 '2018-06-15 06:47:36.156',
 '2018-06-15 06:10:25.755',
 '2018-06-15 06:52:32.821',
 '2018-06-15 06:57:12.439',
 '2018-06-15 06:36:29.827',
 '2018-06-15 06:09:56.036',
 '2018-06-15 06:48:19.600',
 '2018-06-14 07:26:56.943',
 '2018-06-15 06:49:57.272',
 '2018-06-15 06:41:51.135',
 '2018-06-15 06:16:12.424',
 '2018-06-15 06:33:13.927',
 '2018-06-15 06:15:07.326',
 '2018-06-15 06:53:58.315',
 '2018-06-15 06:41:51.135',
 '2018-06-15 05:12:16.164',
 '2018-06-15 05:29:49.184',
 '2018-06-15 05:37:35.715',
 '2018-06-15 05:12:16.164',
 '2018-06-15 05:42:11.203',
 '2018-06-15 05:27:46.852',
 '2018-06-15 05:46:01.108',
 '2018-06-15 05:15:24.337',
 '2018-06-15 05:11:25.214',
 '2018-06-15 05:01:05.012',
 '2018-06-15 05:42:31',
 '2018-06-15 05:15:24.337',
 '2018-06-15 06:24:28.076',
 '2018-06-15 06:08:12.096',
 '2018-06-15 06:53:15.011',
 '2018-06-15 06:52:54.976',
 '2018-06-13 18:53:29.453',
 '2018-06-15 06:30:27.226',
 '2018-06-15 06:11:17.124',
 '2018-06-15 06:52:54.976',
 '2018-06-15 06:24:44.254',
 '2018-06-15 06:51:12.404',
 '2018-06-15 06:55:42.877',
 '2018-06-15 06:53:15.011',
 '2018-06-15 06:56:41.140',
 '2018-06-15 06:04:58.853',
 '2018-06-15 06:15:07.326',
 '2018-06-15 06:50:24.696',
 '2018-06-15 06:46:25.541',
 '2018-06-15 06:50:24.696',
 '2018-06-15 06:58:17.186',
 '2018-06-15 05:15:24.337',
 '2018-06-15 04:55:20.167',
 '2018-06-15 05:27:46.852',
 '2018-06-15 05:15:24.337',
 '2018-06-15 06:00:05.124',
 '2018-06-15 05:29:49.184',
 '2018-06-15 05:36:54.530',
 '2018-06-15 05:39:45.116',
 '2018-06-15 05:15:24.337',
 '2018-06-15 06:54:34.123',
 '2018-06-15 06:21:05.807',
 '2018-06-15 06:52:54.976',
 '2018-06-15 06:55:18.427',
 '2018-06-15 06:54:18.408',
 '2018-06-15 06:50:24.696',
 '2018-06-15 06:50:51.874',
 '2018-06-15 06:45:05.804',
 '2018-06-15 06:49:57.272',
 '2018-06-15 06:21:05.807',
 '2018-06-15 06:44:42.749',
 '2018-06-15 06:04:58.853',
 '2018-06-13 18:53:29.453',
 '2018-06-15 06:56:41.140',
 '2018-06-15 06:33:13.927',
 '2018-06-15 04:54:11.227',
 '2018-06-15 06:02:12.010',
 '2018-06-15 06:00:05.124',
 '2018-06-15 06:04:07.865',
 '2018-06-15 06:54:34.123',
 '2018-06-15 06:18:09.468',
 '2018-06-15 06:56:08.245',
 '2018-06-15 06:53:15.011',
 '2018-06-15 06:11:25.130',
 '2018-06-15 06:18:09.468',
 '2018-06-15 06:21:59.141',
 '2018-06-15 06:45:05.804',
 '2018-06-15 06:11:25.130',
 '2018-06-15 06:18:09.468',
 '2018-06-15 06:18:09.468',
 '2018-06-15 06:18:09.468',
 '2018-06-15 06:52:39.275',
 '2018-06-15 06:50:24.696',
 '2018-06-15 06:28:13.082',
 '2018-06-15 06:19:41.209',
 '2018-06-15 06:18:09.468',
 '2018-06-15 06:00:05.124',
 '2018-06-15 05:10:36.287',
 '2018-06-15 05:12:16.164',
 '2018-06-15 04:54:11.227',
 '2018-06-15 05:15:24.337',
 '2018-06-15 06:02:12.010',
 '2018-06-15 06:03:01.288',
 '2018-06-15 05:46:01.108',
 '2018-06-15 06:36:29.827',
 '2018-06-15 06:55:42.877',
 '2018-06-15 06:44:18.058',
 '2018-06-15 06:22:33.089',
 '2018-06-15 06:15:02.724',
 '2018-06-15 05:14:17.942',
 '2018-06-15 05:14:17.942',
 '2018-06-15 05:17:51.894',
 '2018-06-15 06:00:21.421',
 '2018-06-15 04:55:01.245',
 '2018-06-15 05:35:38.532',
 '2018-06-15 05:35:38.532',
 '2018-06-15 06:55:42.877',
 '2018-06-15 06:22:31.191',
 '2018-06-15 06:16:31.451',
 '2018-06-15 06:53:41.665',
 '2018-06-15 06:16:46.084',
 '2018-06-15 06:08:12.096',
 '2018-06-15 06:16:46.084',
 '2018-06-15 06:36:29.827',
 '2018-06-15 05:15:24.337',
 '2018-06-15 05:28:07.871',
 '2018-06-15 05:11:25.214',
 '2018-06-15 05:28:07.871',
 '2018-06-15 06:56:08.245',
 '2018-06-15 06:36:29.827',
 '2018-06-15 06:15:07.326',
 '2018-06-15 06:50:24.696',
 '2018-06-15 06:52:54.976',
 '2018-06-15 06:16:43.508',
 '2018-06-15 06:04:07.865',
 '2018-06-15 06:16:43.508',
 '2018-06-15 06:51:48.267',
 '2018-06-15 06:55:18.427',
 '2018-06-15 06:23:18.262',
 '2018-06-15 05:22:50.499',
 '2018-06-15 06:54:34.123',
 '2018-06-15 06:16:31.451',
 '2018-06-15 06:45:42.217',
 '2018-06-15 06:24:18.355',
 '2018-06-15 06:11:59.684',
 '2018-06-15 06:55:18.427',
 '2018-06-15 06:54:34.123',
 '2018-06-15 05:53:14.033',
 '2018-06-15 06:03:54.913',
 '2018-06-15 06:45:26.291',
 '2018-06-15 06:55:18.427',
 '2018-06-15 06:52:54.976',
 '2018-06-15 05:42:49.169',
 '2018-06-15 06:00:21.421',
 '2018-06-15 05:27:46.852',
 '2018-06-15 05:48:39.781',
 '2018-06-15 05:26:00.764',
 '2018-06-15 06:44:42.749',
 '2018-06-15 06:22:33.089',
 '2018-06-13 18:53:54.585',
 '2018-06-15 06:56:41.140',
 '2018-06-15 06:50:18.366',
 '2018-06-15 06:51:45.573',
 '2018-06-15 05:15:24.337',
 '2018-06-15 05:12:11.923',
 '2018-06-15 05:36:14.500',
 '2018-06-15 06:03:49.965',
 '2018-06-15 05:35:48.165',
 '2018-06-15 05:36:54.530',
 '2018-06-15 05:35:48.165',
 '2018-06-15 06:03:54.913',
 '2018-06-15 06:50:24.696',
 '2018-06-15 06:56:08.245',
 '2018-06-15 06:50:51.874',
 '2018-06-15 06:50:18.366',
 '2018-06-15 06:56:23.735',
 '2018-06-15 06:11:25.551',
 '2018-06-15 06:15:14.050',
 '2018-06-15 06:36:29.827',
 '2018-06-15 06:32:04.252',
 '2018-06-15 06:11:25.551',
 '2018-06-15 06:16:39.921',
 '2018-06-15 05:39:45.116',
 '2018-06-15 05:11:25.214',
 '2018-06-14 16:30:33.370',
 '2018-06-15 06:00:05.124',
 '2018-06-15 05:01:05.012',
 '2018-06-15 06:21:02.405',
 '2018-06-15 06:36:29.827',
 '2018-06-15 06:16:31.451',
 '2018-06-15 06:33:16.687',
 '2018-06-15 06:56:08.245',
 '2018-06-15 06:27:42.487',
 '2018-06-15 06:22:31.191',
 '2018-06-15 05:38:45.569',
 '2018-06-15 05:28:07.871',
 '2018-06-15 05:27:16.110',
 '2018-06-15 05:42:31',
 '2018-06-15 06:53:41.665',
 '2018-06-15 06:16:46.084',
 '2018-06-15 06:48:49.319',
 '2018-06-15 06:48:56.573',
 '2018-06-15 06:16:46.084',
 '2018-06-15 06:53:15.011',
 '2018-06-15 06:56:08.245',
 '2018-06-15 06:50:24.696',
 '2018-06-15 06:16:46.084',
 '2018-06-15 06:02:12.010',
 '2018-06-15 05:42:57.874',
 '2018-06-15 05:39:00.651',
 '2018-06-15 06:16:31.451',
 '2018-06-15 06:52:01.556',
 '2018-06-15 06:51:13.742',
 '2018-06-15 06:56:05.833',
 '2018-06-15 05:36:14.500',
 '2018-06-15 05:36:14.500',
 '2018-06-15 05:35:48.165',
 '2018-06-15 06:00:09.951',
 '2018-06-15 06:03:01.288',
 '2018-06-15 06:55:42.877',
 '2018-06-15 06:28:13.082',
 '2018-06-15 06:56:08.245',
 '2018-06-15 05:45:29.685',
 '2018-06-15 05:45:29.685',
 '2018-06-15 05:10:36.287',
 '2018-06-15 05:11:25.214',
 '2018-06-15 05:10:36.287',
 '2018-06-15 05:17:45.625',
 '2018-06-15 05:42:31',
 '2018-06-15 05:10:36.287',
 '2018-06-15 05:54:12.456',
 '2018-06-15 06:16:46.084',
 '2018-06-15 06:04:46.369',
 '2018-06-15 06:50:18.366',

In [163]:
EX_date = list(tg['search_timestamp'])
X = EX_date2
for EX_date in len(tg['search_timestamp']):
    import datetime
def extract_time(search_timestamp):
    EX_date2 = datetime.datetime.strptime(search_timestamp, "%Y-%m-%d %H:%M:%S.%f")
    return EX_date.hour, EX_date.day, get_day(EX_date.weekday())
X

NameError: ignored

In [203]:
list(search_click_df['category_name'])

['Seafood',
 'Japanese',
 'Cafe',
 'Dim Sum',
 'Japanese',
 'Cafe',
 'Dim Sum',
 'Seafood',
 'Seafood',
 'Seafood',
 'Steak House/Barbeque',
 'Steak House/Barbeque',
 'Steak House/Barbeque',
 'Steak House/Barbeque',
 'Ramen',
 'Bakery/Cake',
 'Sushi',
 'Barbeque/Grill',
 'Bakery/Cake',
 'Sushi',
 'Steak House/Barbeque',
 'Japanese',
 'Steak House/Barbeque',
 'Steak House/Barbeque',
 'Steak House/Barbeque',
 'International',
 'Japanese',
 'International',
 'International',
 'Japanese',
 'Rooftop',
 'Rooftop',
 'Rooftop',
 'Rooftop',
 'Bakery/Cake',
 'Sushi',
 'Cafe',
 'Bakery/Cake',
 'Café/Coffee Shop',
 'Thai',
 'Sushi',
 'Sushi',
 'Thai',
 'Sushi',
 'Sukiyaki/Shabu',
 'Moo Kata',
 'Filler',
 'Noodles',
 'Sushi',
 'Chinese',
 'Seafood',
 'Café/Coffee Shop',
 'North East',
 'Japanese',
 'Street Food/Food Stands',
 'Eyebrows',
 'Juice/Coffee/Tea/Soft drinks',
 'Seafood',
 'Seafood',
 'Juice/Coffee/Tea/Soft drinks',
 'Seafood',
 'Noodles',
 'Seafood',
 'Chinese',
 'Street Food/Food Stands',
 'Moo Kata',
 'Sukiyaki/Shabu',
 'Moo Kata',
 'Café/Coffee Shop',
 'Thai',
 'Quick Meal',
 'Quick Meal',
 'Moo Kata',
 'Seafood',
 'Seafood',
 'Seafood',
 'Seafood',
 'Seafood',
 'Sukiyaki/Shabu',
 'Sukiyaki/Shabu',
 'Seafood',
 'Korean',
 'Waterside',
 'Steak House/Barbeque',
 'Whitening',
 'Steak House/Barbeque',
 'Quick Meal',
 'Steak House/Barbeque',
 'Steak House/Barbeque',
 'Steak House/Barbeque',
 'Northern Food',
 'Healthy Food',
 'Moo Kata',
 'Steak House/Barbeque',
 'Steak House/Barbeque',
 'Steak House/Barbeque',
 'Japanese',
 'Ramen',
 'Ramen',
 'Noodles',
 'Noodles',
 'Fusion Food',
 'Bakery/Cake',
 'Ramen',
 'Noodles',
 'Ramen',
 'Hotel Buffet',
 'Hotel Buffet',
 'Japanese',
 'Hotel Buffet',
 'International',
 'Hotel Buffet',
 'Sushi',
 'Japanese',
 'Sushi',
 'Barbeque/Grill',
 'Barbeque/Grill',
 'Barbeque/Grill',
 'Sushi',
 'Sushi',
 'Bakery/Cake',
 'Café/Coffee Shop',
 'Ice Cream',
 'Barbeque/Grill',
 'Sushi',
 'Ice Cream',
 'Sushi',
 'Sushi',
 'Café/Coffee Shop',
 'Ramen',
 'Steak House/Barbeque',
 'Barbeque/Grill',
 'Barbeque/Grill',
 'Dessert',
 'Southern Food',
 'Southern Food',
 'Southern Food',
 'Southern Food',
 'Thai',
 'Italian',
 'North East',
 'Sukiyaki/Shabu',
 'Italian',
 'Italian',
 'Ice Cream',
 'Ice Cream',
 'Ramen',
 'Italian',
 'Sukiyaki/Shabu',
 'Japanese',
 'American',
 'Japanese',
 'Dessert',
 'Dessert',
 'French',
 'Cafe',
 'Japanese',
 'North East',
 'Barbeque/Grill',
 'Quick Meal',
 'Thai',
 'Thai',
 'Thai',
 'Thai',
 'Thai',
 'Thai',
 'Thai',
 'Thai',
 'Thai',
 'Thai',
 'Thai',
 'Thai',
 'Thai',
 'Thai',
 'Thai',
 'Thai',
 'Thai',
 'Thai',
 'Thai',
 'Thai',
 'Thai',
 'Cafe',
 'Chinese',
 'Moo Kata',
 'Buffet',
 'North East',
 'Chinese',
 'Korean',
 'Sushi',
 'Healthy Food',
 'Hotel Buffet',
 'Café/Coffee Shop',
 'Café/Coffee Shop',
 'Karaoke',
 'Barbeque/Grill',
 'Ice Cream',
 'Seafood',
 'Sukiyaki/Shabu',
 'Steak House/Barbeque',
 'Noodles',
 'Steak House/Barbeque',
 'Ramen',
 'Chinese',
 'Dessert',
 'Chinese',
 'Bakery/Cake',
 'Chinese',
 'Thai',
 'Chinese',
 'Thai',
 'Chinese',
 'Fusion Food',
 'Delivery Only',
 'Café/Coffee Shop',
 'Café/Coffee Shop',
 'Thai',
 'Café/Coffee Shop',
 'Bakery/Cake',
 'Chinese',
 'Café/Coffee Shop',
 'Cafe',
 'Dessert',
 'Chinese',
 'Café/Coffee Shop',
 'Chinese',
 'Karaoke',
 'Seafood',
 'Chinese',
 'Thai',
 'Chinese',
 'Chinese',
 'Japanese',
 'Chinese',
 'Chinese',
 'Noodles',
 'Thai',
 'Barbeque/Grill',
 'Café/Coffee Shop',
 'Cafe',
 'Sukiyaki/Shabu',
 'North East',
 'Italian',
 'North East',
 'Cafe',
 'Sukiyaki/Shabu',
 'Buffet',
 'Noodles',
 'Sukiyaki/Shabu',
 'Thai',
 'Pizza',
 'Delivery Only',
 'Bars',
 'Bars',
 'Thai',
 'Sukiyaki/Shabu',
 'Ramen',
 'Bars',
 'Bars',
 'Café/Coffee Shop',
 'Thai',
 'Vegeterian',
 'Japanese',
 'Sushi',
 'Quick Meal',
 'Chinese',
 'Café/Coffee Shop',
 'Sukiyaki/Shabu',
 'Moo Kata',
 'Moo Kata',
 'North East',
 'North East',
 'Italian',
 'Café/Coffee Shop',
 'Barbeque/Grill',
 'Fastfood',
 'Cafe',
 'Barbeque/Grill',
 'Noodles',
 'Noodles',
 'Sukiyaki/Shabu',
 'Fusion Food',
 'Sukiyaki/Shabu',
 'Pubs/Dance Clubs/Disco Tecs',
 'Fusion Food',
 'Chinese',
 'Thai',
 'Chinese',
 'Chinese',
 'Steak House/Barbeque',
 'Sukiyaki/Shabu',
 'Pubs/Dance Clubs/Disco Tecs',
 'Café/Coffee Shop',
 'Chinese',
 'Japanese',
 'Pubs/Dance Clubs/Disco Tecs',
 'Seafood',
 'Chinese',
 'Steak House/Barbeque',
 'Karaoke',
 'Sukiyaki/Shabu',
 'Chinese',
 'Delivery Only',
 'Cafe',
 'Haircut',
 'Chinese',
 'Karaoke',
 'Chinese',
 'Chinese',
 'Chinese',
 'Thai',
 'Mexican',
 'Barbeque/Grill',
 'International',
 'Moo Kata',
 'Noodles',
 'Bars',
 'North East',
 'Chinese',
 'Chinese',
 'Café/Coffee Shop',
 'Vietnam',
 'Chinese',
 'Karaoke',
 'Moo Kata',
 'Fusion Food',
 'Seafood',
 'Pubs/Dance Clubs/Disco Tecs',
 'Sukiyaki/Shabu',
 'Juice/Coffee/Tea/Soft drinks',
 'Café/Coffee Shop',
 'Café/Coffee Shop',
 'North East',
 'Japanese',
 'Bakery/Cake',
 'Dessert',
 'Café/Coffee Shop',
 'Pizza',
 'Sushi',
 'Bars',
 'Sukiyaki/Shabu',
 'Pubs/Dance Clubs/Disco Tecs',
 'Chinese',
 'Chinese',
 'Haircut',
 'Pubs/Dance Clubs/Disco Tecs',
 'Sukiyaki/Shabu',
 'Chinese',
 'Barbeque/Grill',
 'Steak House/Barbeque',
 'Chinese',
 'Chinese',
 'Café/Coffee Shop',
 'Bars',
 'Thai',
 'Sushi',
 'Chinese',
 'Steak House/Barbeque',
 'North East',
 'Vietnam',
 'Chinese',
 'Bars',
 'Bakery/Cake',
 'Chinese',
 'Pubs/Dance Clubs/Disco Tecs',
 'Chinese',
 'Southern Food',
 'Thai',
 'Bars',
 'Sushi',
 'Chinese',
 'Noodles',
 'Barbeque/Grill',
 'Sukiyaki/Shabu',
 'Japanese',
 'Sukiyaki/Shabu',
 'Bars',
 'Muslim',
 'Chinese',
 'Korean',
 'Izakaya',
 'Chinese',
 'Sushi',
 'Café/Coffee Shop',
 'Chinese',
 'Sushi',
 'Chinese',
 'Steak House/Barbeque',
 'Café/Coffee Shop',
 'Bakery/Cake',
 'Chinese',
 'Ice Cream',
 'Chinese',
 'Seafood',
 'International',
 'Water Fall',
 'Café/Coffee Shop',
 'Sukiyaki/Shabu',
 'Moo Kata',
 'Karaoke',
 'Steak House/Barbeque',
 'Bars',
 'Noodles',
 'Buffet',
 'Chinese',
 'Vietnam',
 'Karaoke',
 'Barbeque/Grill',
 'Chinese',
 'Sukiyaki/Shabu',
 'Chinese',
 'Bars',
 'Late Night Rice Porridge',
 'Cafe',
 'Chinese',
 'Indian',
 'Japanese',
 'Quick Meal',
 'Noodles',
 'Natural/Royal Project',
 'Seafood',
 'Muslim',
 'Café/Coffee Shop',
 'Chinese',
 'Breakfast/Brunch',
 'Dessert',
 'Barbeque/Grill',
 'Barbeque/Grill',
 'Mexican',
 'Café/Coffee Shop',
 'Italian',
 'Late Night Rice Porridge',
 'Waterside',
 'Chinese',
 'Café/Coffee Shop',
 'Seafood',
 'Café/Coffee Shop',
 'Café/Coffee Shop',
 'Korean',
 'Steak House/Barbeque',
 'American',
 'Japanese',
 'North East',
 'Chinese',
 'Other',
 'Chinese',
 'Sukiyaki/Shabu',
 'Karaoke',
 'Chinese',
 'Sukiyaki/Shabu',
 'Chinese',
 'Sukiyaki/Shabu',
 'North East',
 'Korean',
 'Chinese',
 'Chinese',
 'International',
 'Breakfast/Brunch',
 'Café/Coffee Shop',
 'Japanese',
 'Chinese',
 'North East',
 'Karaoke',
 'Sukiyaki/Shabu',
 'Café/Coffee Shop',
 'Barbeque/Grill',
 'Chinese',
 'Korean',
 'Sukiyaki/Shabu',
 'Moo Kata',
 'Barbeque/Grill',
 'Karaoke',
 'Bakery/Cake',
 'Café/Coffee Shop',
 'Chinese',
 'Buffet',
 'Healthy Food',
 'Café/Coffee Shop',
 'Ice Cream',
 'Chinese',
 'North East',
 'Thai',
 'Chinese',
 'Food Truck',
 'Noodles',
 'Café/Coffee Shop',
 'Fastfood',
 'Sukiyaki/Shabu',
 'Barbeque/Grill',
 'North East',
 'Chinese',
 'Chinese',
 'Breakfast/Brunch',
 'Southern Food',
 'Bakery/Cake',
 'Sukiyaki/Shabu',
 'Chinese',
 'Café/Coffee Shop',
 'Café/Coffee Shop',
 'Chinese',
 'Healthy Food',
 'Café/Coffee Shop',
 'Seafood',
 'Sushi',
 'Karaoke',
 'International',
 'Chinese',
 'Dessert',
 'Chinese',
 'Fusion Food',
 'Café/Coffee Shop',
 'Ice Cream',
 'Sushi',
 'Korean',
 'Chinese',
 'Buffet',
 'International',
 'Chinese',
 'Sushi',
 'Northern Food',
 'Steak House/Barbeque',
 'Vegeterian',
 'Sukiyaki/Shabu',
 'Italian',
 'Chinese',
 'Dim Sum',
 'Pubs/Dance Clubs/Disco Tecs',
 'Chinese',
 'Dessert',
 'Chinese',
 'Cafe',
 'Moo Kata',
 'Waterside',
 'Chinese',
 'Korean',
 'Sushi',
 'Thai',
 'Café/Coffee Shop',
 'Chinese',
 'Bars',
 'Chinese',
 'Chinese',
 'Vietnam',
 'Seafood',
 'International',
 'Delivery Only',
 'Delivery Only',
 'Barbeque/Grill',
 'Dessert',
 'Steak House/Barbeque',
 'Sushi',
 'Barbeque/Grill',
 'Seafood',
 'Island',
 'Noodles',
 'North East',
 'Thai',
 'Karaoke',
 'Surgery',
 'Rooftop',
 'Café/Coffee Shop',
 'Café/Coffee Shop',
 'Muslim',
 'Thai',
 'Bakery/Cake',
 'Quick Meal',
 'Dim Sum',
 'Bakery/Cake',
 'North East',
 'Quick Meal',
 'Street Food/Food Stands',
 'Fusion Food',
 'Sushi',
 'Barbeque/Grill',
 'Thai',
 'Pubs/Dance Clubs/Disco Tecs',
 'Chinese',
 'Thai',
 'Bars',
 'Chinese',
 'Café/Coffee Shop',
 'North East',
 'Sushi',
 'Food Truck',
 'Chinese',
 'Seafood',
 'Pubs/Dance Clubs/Disco Tecs',
 'Hotel/Resort',
 'Chinese',
 'Northern Food',
 'Chinese',
 'Muslim',
 'Indian',
 'Quick Meal',
 'Dessert',
 'Café/Coffee Shop',
 'Thai',
 'Fusion Food',
 'Bars',
 'Breakfast/Brunch',
 'Dessert',
 'Sushi',
 'Rooftop',
 'Chinese',
 'Chinese',
 'Sukiyaki/Shabu',
 'Chinese',
 'Karaoke',
 'Japanese',
 'Sukiyaki/Shabu',
 'Bakery/Cake',
 'Dessert',
 'North East',
 'Sukiyaki/Shabu',
 'Café/Coffee Shop',
 'Bakery/Cake',
 'Steak House/Barbeque',
 'American',
 'Muslim',
 'Sukiyaki/Shabu',
 'Buffet',
 'Chinese',
 'Pubs/Dance Clubs/Disco Tecs',
 'Ramen',
 'Quick Meal',
 'Café/Coffee Shop',
 'Japanese',
 'Sukiyaki/Shabu',
 'Late Night Rice Porridge',
 'Rooftop',
 'Chinese',
 'Café/Coffee Shop',
 'Chinese',
 'Chinese',
 'Dessert',
 'Dessert',
 'Chinese',
 'Noodles',
 'Thai',
 'Chinese',
 'Quick Meal',
 'Chinese',
 'Pubs/Dance Clubs/Disco Tecs',
 'Chinese',
 'Sushi',
 'Market Fair',
 'Vietnam',
 'Chinese',
 'Chinese',
 'Barbeque/Grill',
 'Chinese',
 'Moo Kata',
 'Cafe',
 'Barbeque/Grill',
 'Chinese',
 'Japanese',
 'North East',
 'Juice/Coffee/Tea/Soft drinks',
 'Steak House/Barbeque',
 'Bars',
 'Fastfood',
 'Cafe',
 'Street Food/Food Stands',
 'Vietnam',
 'Healthy Food',
 'Korean',
 'Delivery Only',
 'Sushi',
 'Muslim',
 'Chinese',
 'Pubs/Dance Clubs/Disco Tecs',
 'Steak House/Barbeque',
 'Waterside',
 'Bakery/Cake',
 'Bars',
 'Dessert',
 'Sukiyaki/Shabu',
 'Northern Food',
 'German Food',
 'Muslim',
 'Chinese',
 'Moo Kata',
 'Spa & Massage',
 'Thai',
 'Chinese',
 'Karaoke',
 'Chinese',
 'Bakery/Cake',
 'Steak House/Barbeque',
 'Chinese',
 'North East',
 'Filler',
 'Bars',
 'Seafood',
 'Cafe',
 'Sukiyaki/Shabu',
 'Vietnam',
 'Pizza',
 'Thai',
 'Juice/Coffee/Tea/Soft drinks',
 'International',
 'Ice Cream',
 'Noodles',
 'Chinese',
 'Chinese',
 'Chinese',
 'North East',
 'Juice/Coffee/Tea/Soft drinks',
 'Sukiyaki/Shabu',
 'Sukiyaki/Shabu',
 'Chinese',
 'American',
 'Café/Coffee Shop',
 'Seafood',
 'North East',
 'Northern Food',
 'Sukiyaki/Shabu',
 'Karaoke',
 'Chinese',
 'Chinese',
 'Fusion Food',
 'Delivery Only',
 'Pubs/Dance Clubs/Disco Tecs',
 'Bars',
 'Noodles',
 'Vegeterian',
 'Ramen',
 'Bars',
 'North East',
 'Cafe',
 'North East',
 'Sukiyaki/Shabu',
 'Steak House/Barbeque',
 'Muslim',
 'Japanese',
 'Steak House/Barbeque',
 'Moo Kata',
 'Japanese',
 'Chinese',
 'Quick Meal',
 'Breakfast/Brunch',
 'Thai',
 'Indian',
 'Noodles',
 'Chinese',
 'Buffet',
 'Moo Kata',
 'Thai',
 'Southern Food',
 'Late Night Rice Porridge',
 'Noodles',
 'Café/Coffee Shop',
 'Bars',
 'Steak House/Barbeque',
 'Sukiyaki/Shabu',
 'Pubs/Dance Clubs/Disco Tecs',
 'Barbeque/Grill',
 'Chinese',
 'Chinese',
 'Southern Food',
 'Buffet',
 'Korean',
 'Chinese',
 'Italian',
 'Pubs/Dance Clubs/Disco Tecs',
 'Fusion Food',
 'Japanese',
 'Chinese',
 'North East',
 'Moo Kata',
 'Pubs/Dance Clubs/Disco Tecs',
 'Chinese',
 'Café/Coffee Shop',
 'Sukiyaki/Shabu',
 'Café/Coffee Shop',
 'Bakery/Cake',
 'Food Truck',
 'Chinese',
 'Chinese',
 'Seafood',
 'Seafood',
 'Sukiyaki/Shabu',
 'Pizza',
 'Indian',
 'Chinese',
 'Noodles',
 'Temple',
 'Steak House/Barbeque',
 'Chinese',
 'Temple',
 'Hair Salon',
 'Café/Coffee Shop',
 'Moo Kata',
 'Bakery/Cake',
 'Sukiyaki/Shabu',
 'Street Food/Food Stands',
 'Steak House/Barbeque',
 'Chinese',
 'International',
 'Surgery',
 'Bakery/Cake',
 'Pizza',
 'Breakfast/Brunch',
 'Market Fair',
 'Thai',
 'Chinese',
 'Pubs/Dance Clubs/Disco Tecs',
 'Chinese',
 'North East',
 'International',
 'Chinese',
 'Barbeque/Grill',
 'Chinese',
 'American',
 'Thai',
 'Korean',
 'Bars',
 'Seafood',
 'Café/Coffee Shop',
 'Sushi',
 'Pizza',
 'Sukiyaki/Shabu',
 'Healthy Food',
 'Steak House/Barbeque',
 'Chinese',
 'Chinese',
 'Chinese',
 'French',
 'Chinese',
 'Healthy Food',
 'Bars',
 'Chinese',
 'Pizza',
 'Barbeque/Grill',
 'Barbeque/Grill',
 'Barbeque/Grill',
 'Karaoke',
 'Muslim',
 'Quick Meal',
 'Thai',
 'Barbeque/Grill',
 'International',
 'Muslim',
 'Italian',
 'Vegeterian',
 'French',
 'Barbeque/Grill',
 'Vegeterian',
 'Sukiyaki/Shabu',
 'Sushi',
 'Facial',
 'Korean',
 'Fastfood',
 'Café/Coffee Shop',
 'Fastfood',
 'Chinese',
 'Italian',
 'Café/Coffee Shop',
 'Steak House/Barbeque',
 'Chinese',
 'Vegeterian',
 'Cafe',
 'Food Truck',
 'Chinese',
 'Pubs/Dance Clubs/Disco Tecs',
 'Lasik',
 'Bars',
 'Steak House/Barbeque',
 'Cafe',
 'Noodles',
 'Korean',
 'Sukiyaki/Shabu',
 'Chinese',
 'Thai',
 'Indian',
 'Sushi',
 'Korean',
 'Sushi',
 'Chinese',
 'Juice/Coffee/Tea/Soft drinks',
 'Indian',
 'Chinese',
 'Chinese',
 'Korean',
 'Barbeque/Grill',
 'Other',
 'Thai',
 'Southern Food',
 'Barbeque/Grill',
 'Chinese',
 'Karaoke',
 'Chinese',
 'Cafe',
 'Chinese',
 'Café/Coffee Shop',
 'Ice Cream',
 'Cafe',
 'Thai',
 'Sukiyaki/Shabu',
 'North East',
 'Bars',
 'Seafood',
 'Seafood',
 'Chinese',
 'Steak House/Barbeque',
 'Karaoke',
 'North East',
 'Café/Coffee Shop',
 'Chinese',
 'Quick Meal',
 'Dessert',
 'Chinese',
 'Chinese',
 'Chinese',
 'Thai',
 'Italian',
 'Barbeque/Grill',
 'Vegeterian',
 'Café/Coffee Shop',
 'Sushi',
 'Chinese',
 'Barbeque/Grill',
 'Korean',
 'Barbeque/Grill',
 'Café/Coffee Shop',
 'Barbeque/Grill',
 'Chinese',
 'Seafood',
 'Sushi',
 'Steak House/Barbeque',
 'Café/Coffee Shop',
 'Thai',
 'Chinese',
 'Ramen',
 'Café/Coffee Shop',
 'Vegeterian',
 'Steak House/Barbeque',
 'Dim Sum',
 'Vegeterian',
 'Chinese',
 'Sukiyaki/Shabu',
 'Café/Coffee Shop',
 'North East',
 'Chinese',
 'Other',
 'Italian',
 'Bars',
 'Quick Meal',
 'Korean',
 'Fusion Food',
 'Steak House/Barbeque',
 'Steak House/Barbeque',
 'Café/Coffee Shop',
 'Chinese',
 'Vegeterian',
 'Bars',
 'Café/Coffee Shop',
 'Bars',
 'Karaoke',
 'Barbeque/Grill',
 'Barbeque/Grill',
 'Noodles',
 'Bars',
 'Sushi',
 'Breakfast/Brunch',
 'Sukiyaki/Shabu',
 'Barbeque/Grill',
 'Commercial Area',
 'Café/Coffee Shop',
 'American',
 'Steak House/Barbeque',
 'Wine Bar',
 'Ice Cream',
 'Korean',
 'Bars',
 'Seafood',
 'Chinese',
 'Moo Kata',
 'Sukiyaki/Shabu',
 'Steak House/Barbeque',
 'Chinese',
 'Karaoke',
 'Vietnam',
 'Steak House/Barbeque',
 'Chinese',
 'Bakery/Cake',
 'Moo Kata',
 'Cafe',
 'Chinese',
 'Barbeque/Grill',
 'Café/Coffee Shop',
 'Korean',
 'Bars',
 'Dim Sum',
 'Ramen',
 'Chinese',
 'Northern Food',
 'Italian',
 'Late Night Rice Porridge',
 'Fastfood',
 'Steak House/Barbeque',
 ...]

In [207]:
for inp in range(list(search_click_df['category_name'])):
  def is_food(inp):
    food_list = ['Vegeterian','Sushi','Sukiyaki/Shabu','Street Food/Food Stands','Steak House/Barbeque','Southern Food','Seafood','Ramen','Quick Meal','Pizza','Northern Food','Noodles','Mexican','Korean',
             'Japanese','Italian','Izakaya','Healthy Food','German Food','Fusion Food','French','Food Truck','Fastfood','Dim Sum','Delivery Only','Chinese','Cafe','Café/Coffee Shop','Buffet',
             'Breakfast/Brunch','Bakery/Cake','Barbeque/Grill','American']
    return inp in food_list
is_food(inp)

TypeError: ignored

##ข้อที่2

In [81]:
reduced_marketbasket = pd.read_csv(os.path.join(path,'reduced_marketbasket.csv'),encoding='latin1')
reduced_marketbasket

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [9]:
reduced_marketbasket_UK = reduced_marketbasket[reduced_marketbasket['Country']=='United Kingdom']
reduced_marketbasket_UK

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541889    581585     22466  ...    15804.0  United Kingdom
541890    581586     22061  ...    13113.0  United Kingdom
541891    581586     23275  ...    13113.0  United Kingdom
541892    581586     21217  ...    13113.0  United Kingdom
541893    581586     20685  ...    13113.0  United Kingdom

[495478 rows x 8 columns]

In [10]:
reduced_marketbasket_another = reduced_marketbasket[reduced_marketbasket['Country']!='United Kingdom']
reduced_marketbasket_another

       InvoiceNo StockCode  ... CustomerID  Country
26        536370     22728  ...    12583.0   France
27        536370     22727  ...    12583.0   France
28        536370     22726  ...    12583.0   France
29        536370     21724  ...    12583.0   France
30        536370     21883  ...    12583.0   France
...          ...       ...  ...        ...      ...
541904    581587     22613  ...    12680.0   France
541905    581587     22899  ...    12680.0   France
541906    581587     23254  ...    12680.0   France
541907    581587     23255  ...    12680.0   France
541908    581587     22138  ...    12680.0   France

[46431 rows x 8 columns]

In [11]:
UK = reduced_marketbasket_UK.groupby('InvoiceNo')['StockCode'].apply(list)
UK

InvoiceNo
536365     [85123A, 71053, 84406B, 84029G, 84029E, 22752,...
536366                                        [22633, 22632]
536367     [84879, 22745, 22748, 22749, 22310, 84969, 226...
536368                          [22960, 22913, 22912, 22914]
536369                                               [21756]
                                 ...
C581484                                              [23843]
C581490                                       [22178, 23144]
C581499                                                  [M]
C581568                                              [21258]
C581569                                       [84978, 20979]
Name: StockCode, Length: 23494, dtype: object

In [12]:
another = reduced_marketbasket_another.groupby('InvoiceNo')['StockCode'].apply(list)
another

InvoiceNo
536370     [22728, 22727, 22726, 21724, 21883, 10002, 217...
536389     [22941, 21622, 21791, 35004C, 35004G, 85014B, ...
536403                                         [22867, POST]
536527     [22809, 84347, 84945, 22242, 22244, 22243, 474...
536532     [84692, 22444, 22899, 21156, 22556, 22555, 225...
                                 ...
C581148           [22063, 23247, 37449, 22059, 22057, 84817]
C581229    [85099B, 84828, 79191C, 23392, 23344, 23209, 2...
C581316                                [23020, 21531, 23174]
C581323                                              [21533]
C581409    [84946, 20979, 23425, 22364, 23114, 23245, 234...
Name: StockCode, Length: 2406, dtype: object

In [13]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.6/dist-packages (1.1.2)

In [14]:
from apyori import apriori

In [15]:
list(apriori(UK,min_support = 0.03, min_confidence = 0.1))

[RelationRecord(items=frozenset({'21931', '85099B'}), support=0.030092789648420874, ordered_statistics=[OrderedStatistic(items_base=frozenset({'21931'}), items_add=frozenset({'85099B'}), confidence=0.6163905841325196, lift=7.321274208093738), OrderedStatistic(items_base=frozenset({'85099B'}), items_add=frozenset({'21931'}), confidence=0.3574317492416582, lift=7.3212742080937385)]),
 RelationRecord(items=frozenset({'85099B', '22386'}), support=0.03375329871456542, ordered_statistics=[OrderedStatistic(items_base=frozenset({'22386'}), items_add=frozenset({'85099B'}), confidence=0.6766211604095563, lift=8.036672165147682), OrderedStatistic(items_base=frozenset({'85099B'}), items_add=frozenset({'22386'}), confidence=0.40091001011122346, lift=8.036672165147682)]),
 RelationRecord(items=frozenset({'22699', '22697'}), support=0.03034817400187282, ordered_statistics=[OrderedStatistic(items_base=frozenset({'22697'}), items_add=frozenset({'22699'}), confidence=0.7350515463917526, lift=17.217648086667833), OrderedStatistic(items_base=frozenset({'22699'}), items_add=frozenset({'22697'}), confidence=0.7108673978065804, lift=17.217648086667833)])]

In [59]:
list(apriori(another,min_support = 0.05, min_confidence = 0.7))

[RelationRecord(items=frozenset({'22328', '22326'}), support=0.05943474646716542, ordered_statistics=[OrderedStatistic(items_base=frozenset({'22328'}), items_add=frozenset({'22326'}), confidence=0.7295918367346939, lift=5.572691933916423)]),
 RelationRecord(items=frozenset({'22326', 'POST'}), support=0.09891936824605153, ordered_statistics=[OrderedStatistic(items_base=frozenset({'22326'}), items_add=frozenset({'POST'}), confidence=0.7555555555555555, lift=1.6347721822541967)]),
 RelationRecord(items=frozenset({'22328', 'POST'}), support=0.06317539484621779, ordered_statistics=[OrderedStatistic(items_base=frozenset({'22328'}), items_add=frozenset({'POST'}), confidence=0.7755102040816326, lift=1.6779474379679928)])]

****อธิบายจากข้อมูลที่ได้ในการ หาความสัมพันธ์ของกลุมสินค้าตามTransaction พบว่าในกลุ่มของ UK มีการซื้อ<br>
1.JUMBO STORAGE BAG SUKI คู่กับ JUMBO BAG RED RETROSPOT โดยมีความน่าจะเป็น 
0.616ที่ลูกค้าซื้อ JUMBO STORAGE BAG SUKI แล้วจะซื้อ JUMBO BAG RED RETROSPOT ด้วย<br>
2.JUMBO BAG RED RETROSPOT คู่กับ JUMBO BAG PINK POLKADOT โดยมีความน่าจะเป็น 
0.676ที่ลูกค้าซื้อ JUMBO BAG PINK POLKADOT แล้วจะซื้อ JUMBO BAG RED RETROSPOT<br>
3.ROSES REGENCY TEACUP AND SAUCER คู่กับ GREEN REGENCY TEACUP AND SAUCER โดยมีความน่าจะเป็น 0.735ที่ลูกค้าซื้อ GREEN REGENCY TEACUP AND SAUCER แล้วจะซื้อ ROSES REGENCY TEACUP AND SAUCER<br>
<p>และเมื่อเปรียบเทียบกับประเทศอื่นๆพบว่าในกลุ่มของประเทศอื่นๆมีการซื้อ<br>
1.ROUND SNACK BOXES SET OF 4 FRUITS คู่กับ ROUND SNACK BOXES SET OF4 WOODLAND โดยมีความน่าจะเป็น 0.729 ที่ลูกค้าซื้อ ROUND SNACK BOXES SET OF 4 FRUITS แล้วจะซื้อ ROUND SNACK BOXES SET OF4 WOODLAND<br>
2.ROUND SNACK BOXES SET OF4 WOODLAND คู่กับ POSTAGE โดยมีความน่าจะเป็น 0.755 ที่ลูกค้าซื้อ ROUND SNACK BOXES SET OF4 WOODLAND แล้วจะซื้อ POSTAGE <br>
3.ROUND SNACK BOXES SET OF 4 FRUITS คู่กับ POSTAGE  โดยมีความน่าจะเป็น 0.775 ที่ลูกค้าซื้อ ROUND SNACK BOXES SET OF 4 FRUITS แล้วจะซื้อ POSTAGE <br>
ซึ่งจะเห็นได้ว่าตัวอย่างทั้ง 2 มีความสนใจที่แตกต่างกัน และมีความน่าจะเป็นที่จะซื้อของเหล่านั้นคู่กับใกล้เคียงกัน****

In [63]:
reduced_marketbasket[reduced_marketbasket['StockCode']=='POST']

       InvoiceNo StockCode Description  ...  UnitPrice CustomerID      Country
45        536370      POST     POSTAGE  ...       18.0    12583.0       France
386       536403      POST     POSTAGE  ...       15.0    12791.0  Netherlands
1123      536527      POST     POSTAGE  ...       18.0    12662.0      Germany
5073      536840      POST     POSTAGE  ...       18.0    12738.0      Germany
5258      536852      POST     POSTAGE  ...       18.0    12686.0       France
...          ...       ...         ...  ...        ...        ...          ...
541198    581493      POST     POSTAGE  ...       15.0    12423.0      Belgium
541216    581494      POST     POSTAGE  ...       18.0    12518.0      Germany
541730    581570      POST     POSTAGE  ...       18.0    12662.0      Germany
541767    581574      POST     POSTAGE  ...       18.0    12526.0      Germany
541768    581578      POST     POSTAGE  ...       18.0    12713.0      Germany

[1256 rows x 8 columns]

##ข้อที่ 3

In [ ]:
DecisionTree = การทำนายแบบต้นไม้ เป็นการทำนายโดยวิเคราะห์ผ่านปัจจัยต่างๆในคอลัมน์
Data Mining = เหมืองข้อมูลเป็นแหล่งเก็บความรู้ที่ได้จากการ วิเคราะห์โดยใช้สถิติขั้นสูง
Data Warehouse = เป็นการเป็นรวบรวมข้อมูลที่สนใจในช่วงเวลาใดเวลาหนึ่ง ซื้อสามารถดูแยกเป็นมิติของข้อมูลได้ โดยมีส่วนประกอบหลักๆอยู่ 3 ส่วนคือ fact table,measure และDimentionแต่ละตัว
KNN = เป็นการทำนายโดยใช้ข้อมูลข้างเคียงโดยข้อมูลใดที่ใกล้ตัวที่จะทำนายมากที่สุดจะถือว่าเป็นข้อมูลเดียวกัน
Random Forests = เป็นการทำนายโดยจะคัดเลือกรูปแบบที่มีการทำนายได้ใกล้เคียงที่สุด โดยจะมีกี่ตัวแบบขึ้นอยู่กับการกำหนดของเรา
Data Preprocessing = การเตรียมข้อมูล
Clustering = เป็นการแบ่งข้อมูล โดยจะแบ่งข้อมูลที่มีระห่างระหว่างกันน้อยที่สุด
association = เป็นการหาความสัมพันธ์ของข้อมูล
classification = เป็นการทำนายลักษณะของข้อมูลโดยมีการทำนายหลายรูปแบบ