<a href="https://colab.research.google.com/github/thanadolch/KKU_data_mining/blob/master/Untitled56.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [3]:
path = '/content/drive/My Drive/DVZ'

##ดึงข้อมูล Data 63-64

In [4]:
Covid_19 = pd.read_excel(os.path.join(path,'passenger-covid19.xlsx'),sheet_name='Data63-64')
Covid_19.head()

  ขนคน/ขนสินค้า โหมดการเดินทาง  ... 2021-04-25 00:00:00 2021-04-26 00:00:00
0     ขนคน (คน)          ทางบก  ...             27472.0             27701.0
1     ขนคน (คน)          ทางบก  ...                 NaN                 NaN
2     ขนคน (คน)          ทางบก  ...              6163.0              7849.0
3    ขนคน (คัน)          ทางบก  ...            800769.0            794328.0
4    ขนคน (คัน)          ทางบก  ...            900413.0            920383.0

[5 rows x 488 columns]

In [5]:
Covid_19.iloc[13,6]

'ทล มีจุดสำรวจปริมาณจราจรถาวรบนทางหลวงในพื้นที่ชั้นใน กทม/ในตัวจังหวัด ไม่เพียงพอที่จะใช้ประมาณปริมาณการเดินทางภายในจังหวัดได้'

##แทนที่ค่าที่เป็น str ด้วยค่า0

In [6]:
Covid_19.iloc[:,6] = Covid_19.iloc[:,6].replace({'การโดยสารด้วยรถแท็กซี่ เป็นการเคลื่อนย้ายคนแบบไม่ประจำทาง ผู้โดยสารขึ้นลงตามความสะดวก เจ้าหน้าที่ไม่สามารถเก็บข้อมูลได้':0,'มีข้อมูลย้อนหลังเป็นรายเดือน':0,'เครื่องสำรวจปริมาณจราจรแบบอัตโนมัติ ไม่สามารถจำแนกรถจักรยานยนต์ได้อย่างแม่นยำ จึงไม่ได้มีการเก็บข้อมูลรถจักรยานยนต์โดยใช้เครื่องมือดังกล่าว (ข้อมูล AADT ในรายงานประจำปี จะสำรวจข้อมูลรถจักรยานยนต์โดยใช้วิธีคนแจงนับ)':0,'การโดยสารด้วยรถจักรยานยนต์ ผู้โดยสารขึ้นลงตามความสะดวก ซึ่งมีจุดขึ้นลงกระจายอยู่ทั่วไป มิได้กำหนดจุดจอดรวมอยู่พื้นที่เดียวกันเหมือนรถโดยสารประจำทาง เจ้าหน้าที่ไม่สามารถเก็บข้อมูลได้':0,'ทล มีจุดสำรวจปริมาณจราจรถาวรบนทางหลวงในพื้นที่ชั้นใน กทม/ในตัวจังหวัด ไม่เพียงพอที่จะใช้ประมาณปริมาณการเดินทางภายในจังหวัดได้':0,'ไม่มีการจัดเก็บข้อมูล':0,'ไม่มีการจัดเก็บ':0})

##เติมค่าที่ null ด้วย 0 เพราะ ค่าที่ null เป็นช่วงที่ไม่มีการเก็บค่า

In [7]:
Covid_19.fillna(0,inplace=True)

In [8]:
Covid_19

   ขนคน/ขนสินค้า โหมดการเดินทาง  ... 2021-04-25 00:00:00 2021-04-26 00:00:00
0      ขนคน (คน)          ทางบก  ...             27472.0             27701.0
1      ขนคน (คน)          ทางบก  ...                 0.0                 0.0
2      ขนคน (คน)          ทางบก  ...              6163.0              7849.0
3     ขนคน (คัน)          ทางบก  ...            800769.0            794328.0
4     ขนคน (คัน)          ทางบก  ...            900413.0            920383.0
5     ขนคน (คัน)          ทางบก  ...            678044.0           1041714.0
6     ขนคน (คัน)          ทางบก  ...            697964.0           1096281.0
7     ขนคน (คัน)          ทางบก  ...                 0.0                 0.0
8      ขนคน (คน)          ทางบก  ...              1996.0              3977.0
9      ขนคน (คน)          ทางบก  ...                 0.0                 0.0
10     ขนคน (คน)          ทางบก  ...            346305.0            481172.0
11     ขนคน (คน)          ทางบก  ...             29134.0             39544.0
12     ขนคน (คน)          ทางบก  ...             14637.0             20337.0
13    ขนคน (คัน)          ทางบก  ...                 0.0                 0.0
14    ขนคน (คัน)          ทางบก  ...                 0.0                 0.0
15     ขนคน (คน)         ทางน้ำ  ...                 0.0                 0.0
16     ขนคน (คน)         ทางน้ำ  ...              1656.0              5106.0
17     ขนคน (คน)         ทางน้ำ  ...              2953.0              9216.0
18     ขนคน (คน)         ทางน้ำ  ...             38124.0             39269.0
19     ขนคน (คน)         ทางน้ำ  ...                 0.0                 0.0
20     ขนคน (คน)         ทางราง  ...             13879.0             16250.0
21     ขนคน (คน)         ทางราง  ...             53961.0            115290.0
22     ขนคน (คน)         ทางราง  ...              7515.0             17292.0
23     ขนคน (คน)         ทางราง  ...              9506.0             18857.0
24     ขนคน (คน)         ทางราง  ...            138523.0            251146.0
25     ขนคน (คน)       ทางอากาศ  ...              2712.0              2020.0
26     ขนคน (คน)       ทางอากาศ  ...              4194.0              3252.0
27     ขนคน (คน)       ทางอากาศ  ...              4479.0              3239.0
28     ขนคน (คน)       ทางอากาศ  ...              5237.0              5074.0
29     ขนคน (คน)         ทางถนน  ...                 0.0                 0.0
30     ขนคน (คน)         ทางถนน  ...                 0.0                 0.0
31     ขนคน (คน)         ทางราง  ...                 0.0                 0.0
32     ขนคน (คน)         ทางราง  ...                 0.0                 0.0
33     ขนคน (คน)         ทางน้ำ  ...                 3.0                 8.0
34     ขนคน (คน)         ทางน้ำ  ...                 0.0                 0.0
35     ขนคน (คน)       ทางอากาศ  ...               714.0              1013.0
36     ขนคน (คน)       ทางอากาศ  ...              1372.0               833.0
37     ขนคน (คน)       ทางอากาศ  ...                 0.0                 0.0
38     ขนคน (คน)       ทางอากาศ  ...                 3.0                 1.0
39     ขนคน (คน)       ทางอากาศ  ...                16.0                 0.0
40     ขนคน (คน)       ทางอากาศ  ...                22.0                 0.0
41     ขนคน (คน)       ทางอากาศ  ...                 0.0                 0.0
42     ขนคน (คน)       ทางอากาศ  ...                 0.0                 0.0

[43 rows x 488 columns]

In [9]:
data = Covid_19.iloc[:,6:].sum()

In [10]:
Newdata_covid = pd.DataFrame(data).reset_index()
Newdata_covid.rename(columns={'index':'announce_date',0:'Num_travel'},inplace=True)

In [11]:
Newdata_covid['month'] = Newdata_covid['announce_date'].dt.month

In [12]:
Newdata_covid

    announce_date  Num_travel  month
0      2020-01-01   7737026.0      1
1      2020-01-02   8842276.0      1
2      2020-01-03   9278085.0      1
3      2020-01-04   8461868.0      1
4      2020-01-05   8339575.0      1
..            ...         ...    ...
474    2021-04-22   5314125.0      4
475    2021-04-23   5313792.0      4
476    2021-04-24   4595477.0      4
477    2021-04-25   3787766.0      4
478    2021-04-26   4921152.0      4

[479 rows x 3 columns]

In [13]:
Newdata_covid.groupby('month')['Num_travel'].sum()

month
1     4.360535e+08
2     4.220046e+08
3     4.068978e+08
4     2.565418e+08
5     1.549505e+08
6     1.900941e+08
7     2.184676e+08
8     2.236804e+08
9     2.219927e+08
10    2.255501e+08
11    2.287598e+08
12    2.220393e+08
Name: Num_travel, dtype: float64

In [14]:
Covid_19_table = Covid_19[['ขนคน/ขนสินค้า','โหมดการเดินทาง','รูปแบบการเดินทาง','สาธารณะ/ส่วนบุคคล','หน่วยงาน','ยานพาหนะ/ท่า']]

In [15]:
Covid_19_case = pd.read_csv(os.path.join(path,'covid19cases.csv'))
Covid_19_case.head()

   No. announce_date  ... province_of_onset district_of_onset
0    1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1    2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2    3     22/1/2020  ...            นครปฐม             เมือง
3    4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4    5     24/1/2020  ...     กรุงเทพมหานคร               NaN

[5 rows x 11 columns]

In [16]:
Covid_19_case['province_of_isolation'].isnull().any()
Covid_19_case.shape[0]

57510

In [17]:
ptc1 = Covid_19_case[Covid_19_case['province_of_onset'].isnull()]

In [18]:
ptc1.dropna(subset=['province_of_isolation'],inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
ptc1

         No. announce_date  ... province_of_onset district_of_onset
415      416     22/3/2020  ...               NaN               NaN
530      531     22/3/2020  ...               NaN               NaN
556      557     22/3/2020  ...               NaN               NaN
577      578     22/3/2020  ...               NaN               NaN
589      590     22/3/2020  ...               NaN               NaN
...      ...           ...  ...               ...               ...
57505  57506     26/4/2021  ...               NaN               NaN
57506  57507     26/4/2021  ...               NaN               NaN
57507  57508     26/4/2021  ...               NaN               NaN
57508  57509     26/4/2021  ...               NaN               NaN
57509  57510     26/4/2021  ...               NaN               NaN

[6305 rows x 11 columns]

In [20]:
Covid_19_case[Covid_19_case['province_of_onset'].isnull()]

         No. announce_date  ... province_of_onset district_of_onset
415      416     22/3/2020  ...               NaN               NaN
530      531     22/3/2020  ...               NaN               NaN
556      557     22/3/2020  ...               NaN               NaN
577      578     22/3/2020  ...               NaN               NaN
589      590     22/3/2020  ...               NaN               NaN
...      ...           ...  ...               ...               ...
57505  57506     26/4/2021  ...               NaN               NaN
57506  57507     26/4/2021  ...               NaN               NaN
57507  57508     26/4/2021  ...               NaN               NaN
57508  57509     26/4/2021  ...               NaN               NaN
57509  57510     26/4/2021  ...               NaN               NaN

[6682 rows x 11 columns]

In [21]:
all_province = Covid_19_case.dropna(subset=['province_of_onset'])
all_province

         No. announce_date  ... province_of_onset district_of_onset
0          1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1          2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2          3     22/1/2020  ...            นครปฐม             เมือง
3          4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4          5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...      ...           ...  ...               ...               ...
57236  57237     26/4/2021  ...     กรุงเทพมหานคร               NaN
57237  57238     26/4/2021  ...     กรุงเทพมหานคร               NaN
57238  57239     26/4/2021  ...     กรุงเทพมหานคร               NaN
57239  57240     26/4/2021  ...     กรุงเทพมหานคร               NaN
57240  57241     26/4/2021  ...     กรุงเทพมหานคร               NaN

[50828 rows x 11 columns]

In [22]:
Bangkok = ptc1[ptc1['province_of_isolation'] == 'กรุงเทพมหานคร']
Bangkok.fillna('กรุงเทพมหานคร',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [23]:
kabeii = ptc1[ptc1['province_of_isolation'] == 'กระบี่']
kabeii.fillna('กระบี่',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [24]:
khonkann = ptc1[ptc1['province_of_isolation'] == 'ขอนแก่น']
khonkann.fillna('ขอนแก่น',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [25]:
Jantabury = ptc1[ptc1['province_of_isolation'] == 'จันทบุรี']
Jantabury.fillna('จันทบุรี',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [26]:
chacha = ptc1[ptc1['province_of_isolation'] == 'ฉะเชิงเทรา']
chacha.fillna('ฉะเชิงเทรา',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [27]:
chacha = ptc1[ptc1['province_of_isolation'] == 'ฉะเชิงเทรา']
chacha.fillna('ฉะเชิงเทรา',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [28]:
chonbury = ptc1[ptc1['province_of_isolation'] == 'ชลบุรี']
chonbury.fillna('ชลบุรี',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [29]:
trad = ptc1[ptc1['province_of_isolation'] == 'ตราด']
trad.fillna('ตราด',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [30]:
nakon = ptc1[ptc1['province_of_isolation'] == 'นครพนม']
nakon.fillna('นครพนม',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [31]:
nakonrah = ptc1[ptc1['province_of_isolation'] == 'นครศรีธรรมราช']
nakonrah.fillna('นครศรีธรรมราช',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [32]:
nont = ptc1[ptc1['province_of_isolation'] == 'นนทบุรี']
nont.fillna('นนทบุรี',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [33]:
pajob = ptc1[ptc1['province_of_isolation'] == 'ประจวบคีรีขันธ์']
pajob.fillna('ประจวบคีรีขันธ์',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [34]:
x1 = ptc1[ptc1['province_of_isolation'] == 'พะเยา']
x1.fillna('พะเยา',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [35]:
x2 = ptc1[ptc1['province_of_isolation'] == 'พิษณุโลก']
x2.fillna('พิษณุโลก',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [36]:
x3 = ptc1[ptc1['province_of_isolation'] == 'ระยอง']
x3.fillna('ระยอง',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [37]:
x4 = ptc1[ptc1['province_of_isolation'] == 'ลำปาง']
x4.fillna('ลำปาง',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [38]:
x5 = ptc1[ptc1['province_of_isolation'] == 'สมุทรปราการ']
x5.fillna('สมุทรปราการ',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [39]:
x6 = ptc1[ptc1['province_of_isolation'] == 'สมุทรสาคร']
x6.fillna('สมุทรสาคร',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [40]:
x7 = ptc1[ptc1['province_of_isolation'] == 'อุดรธานี']
x7.fillna('อุดรธานี',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [41]:
x8 = ptc1[ptc1['province_of_isolation'] == 'เชียงราย']
x8.fillna('เชียงราย',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [42]:
x9 = ptc1[ptc1['province_of_isolation'] == 'เชียงใหม่']
x9.fillna('เชียงใหม่',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [43]:
x10 = ptc1[ptc1['province_of_isolation'] == 'แพร่']
x10.fillna('แพร่',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [44]:
vtm = Covid_19_case[Covid_19_case['province_of_onset'].isnull()]

In [45]:
nan = vtm[vtm['province_of_isolation'].isnull()]

In [46]:
nan['province_of_onset'] = nan['province_of_onset'].fillna('Unknow')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [47]:
nan['province_of_isolation'] = nan['province_of_isolation'].fillna('Unknow')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [48]:
nan

         No. announce_date  ... province_of_onset district_of_onset
40198  40199     17/4/2021  ...            Unknow               NaN
40199  40200     17/4/2021  ...            Unknow               NaN
40200  40201     17/4/2021  ...            Unknow               NaN
40201  40202     17/4/2021  ...            Unknow               NaN
40202  40203     17/4/2021  ...            Unknow               NaN
...      ...           ...  ...               ...               ...
40815  40816     18/4/2021  ...            Unknow               NaN
40816  40817     18/4/2021  ...            Unknow               NaN
40817  40818     18/4/2021  ...            Unknow               NaN
40830  40831     18/4/2021  ...            Unknow               NaN
40831  40832     18/4/2021  ...            Unknow               NaN

[377 rows x 11 columns]

In [49]:
all_province_table = pd.concat([Bangkok,x10,x9,x8,x7,x6,x5,x4,x3,x2,x1,pajob,khonkann,kabeii,chacha,chonbury,nakon,nakonrah,nont,trad,Jantabury,all_province,nan])
all_province_table

         No. announce_date  ... province_of_onset district_of_onset
415      416     22/3/2020  ...     กรุงเทพมหานคร     กรุงเทพมหานคร
530      531     22/3/2020  ...     กรุงเทพมหานคร     กรุงเทพมหานคร
556      557     22/3/2020  ...     กรุงเทพมหานคร     กรุงเทพมหานคร
577      578     22/3/2020  ...     กรุงเทพมหานคร     กรุงเทพมหานคร
589      590     22/3/2020  ...     กรุงเทพมหานคร     กรุงเทพมหานคร
...      ...           ...  ...               ...               ...
40815  40816     18/4/2021  ...            Unknow               NaN
40816  40817     18/4/2021  ...            Unknow               NaN
40817  40818     18/4/2021  ...            Unknow               NaN
40830  40831     18/4/2021  ...            Unknow               NaN
40831  40832     18/4/2021  ...            Unknow               NaN

[57434 rows x 11 columns]

In [50]:
all_province_table['announce_date']  = pd.to_datetime(all_province_table['announce_date'],format='%d/%m/%Y')

In [51]:
Covid_19_case['announce_date']  = pd.to_datetime(Covid_19_case['announce_date'],format='%d/%m/%Y')

In [52]:
Covid_19_case

         No. announce_date  ... province_of_onset district_of_onset
0          1    2020-01-12  ...     กรุงเทพมหานคร               NaN
1          2    2020-01-17  ...     กรุงเทพมหานคร               NaN
2          3    2020-01-22  ...            นครปฐม             เมือง
3          4    2020-01-22  ...     กรุงเทพมหานคร               NaN
4          5    2020-01-24  ...     กรุงเทพมหานคร               NaN
...      ...           ...  ...               ...               ...
57505  57506    2021-04-26  ...               NaN               NaN
57506  57507    2021-04-26  ...               NaN               NaN
57507  57508    2021-04-26  ...               NaN               NaN
57508  57509    2021-04-26  ...               NaN               NaN
57509  57510    2021-04-26  ...               NaN               NaN

[57510 rows x 11 columns]

In [53]:
Co = Covid_19_case.groupby('announce_date')['No.'].count()

In [54]:
table_Co = pd.DataFrame(Co).reset_index()
table_Co['Month'] = table_Co['announce_date'].dt.month

In [55]:
table_Co.groupby('Month')['No.'].sum()

Month
1     11917
2      7192
3      4521
4     29950
5       127
6        90
7       139
8       102
9       152
10      216
11      218
12     2886
Name: No., dtype: int64

In [56]:
ptc1.groupby('province_of_isolation')['No.'].count()

province_of_isolation
กระบี่                1
กรุงเทพมหานคร      2855
ขอนแก่น               1
จันทบุรี             93
ฉะเชิงเทรา           10
ชลบุรี              205
ชุมพร                 1
ตราด                 11
ตาก                   7
นครพนม               15
นครราชสีมา            2
นครศรีธรรมราช        18
นนทบุรี              45
น่าน                  2
ปทุมธานี              9
ประจวบคีรีขันธ์      25
ปราจีนบุรี            1
พระนครศรีอยุธยา       2
พะเยา                32
พิษณุโลก             25
ภูเก็ต                6
มหาสารคาม             1
ระนอง                 9
ระยอง               124
ลำปาง                42
สกลนคร                5
สมุทรปราการ          27
สมุทรสาคร          1543
สระแก้ว               2
สุโขทัย               7
หนองคาย               7
หนองบัวลำภู           2
อุดรธานี             25
อุตรดิตถ์             7
อ่างทอง               1
เชียงราย             55
เชียงใหม่          1056
เลย                   5
แพร่                 21
Name: No., dtype: int64

In [57]:
kind = set(list(ptc1['province_of_isolation']))
kind

{'กระบี่',
 'กรุงเทพมหานคร',
 'ขอนแก่น',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชุมพร',
 'ตราด',
 'ตาก',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นนทบุรี',
 'น่าน',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'ระนอง',
 'ระยอง',
 'ลำปาง',
 'สกลนคร',
 'สมุทรปราการ',
 'สมุทรสาคร',
 'สระแก้ว',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เลย',
 'แพร่'}

In [58]:
covid_thailand = pd.read_excel(os.path.join(path,'passenger-covid19.xlsx'),sheet_name='2563-2564 รวมในประเทศ',skiprows=1,skipfooter=33)
covid_thailand

               Unnamed: 0  ...  2021-04-26 00:00:00
0             ทางถนน (คน)  ...               580580
1             ทางราง (คน)  ...               418835
2             ทางน้ำ (คน)  ...                53591
3          ทางอากาศ* (คน)  ...                13585
4  รวมประชาชนเดินทาง (คน)  ...              1066591

[5 rows x 483 columns]

In [59]:
covid_thailand.drop([0,1,2,3],inplace=True)

In [60]:
data1 = covid_thailand.iloc[:,:].sum()

In [61]:
new_data_covid = pd.DataFrame(data1).reset_index()

In [62]:
new_data_covid.drop(index=0,inplace=True)

In [63]:
new_data_covid.rename(columns={'index':'announce_date',0:'Num_travel'},inplace=True)

In [64]:
new_data_covid['announce_date'] = pd.to_datetime(new_data_covid['announce_date'],format='%d/%m/%Y')

In [65]:
new_data_covid

    announce_date Num_travel
1      2020-01-01    2743864
2      2020-01-02    3370836
3      2020-01-03    3520819
4      2020-01-04    2975450
5      2020-01-05    2835519
..            ...        ...
478    2021-04-22    1175707
479    2021-04-23    1180619
480    2021-04-24     869281
481    2021-04-25     708446
482    2021-04-26    1066591

[482 rows x 2 columns]

In [66]:
Co = Covid_19_case.groupby('announce_date')['No.'].count()
Co

announce_date
2020-01-12       1
2020-01-17       1
2020-01-22       2
2020-01-24       1
2020-01-25       1
              ...
2021-04-22    1470
2021-04-23    2070
2021-04-24    2839
2021-04-25    2438
2021-04-26    2048
Name: No., Length: 415, dtype: int64

In [67]:
table_Co = pd.DataFrame(Co).reset_index()
table_Co.rename(columns={'index':'announce_date','No.':'Num_sick'},inplace=True)

In [68]:
table_Co

    announce_date  Num_sick
0      2020-01-12         1
1      2020-01-17         1
2      2020-01-22         2
3      2020-01-24         1
4      2020-01-25         1
..            ...       ...
410    2021-04-22      1470
411    2021-04-23      2070
412    2021-04-24      2839
413    2021-04-25      2438
414    2021-04-26      2048

[415 rows x 2 columns]